{{{importStyle 'css/prevalidate.css'}}}
<section>
<table class="zui-table" >
  <thead>
  <tr>
    <th>
      #
    </th>
    <th>
      Patient Code
    </th>
    <th>
      Visit Code
    </th>
    <th>
      Patient Name
    </th>
    <th>
      Vitals
    </th>
    <th>
      Chief Comp.
    </th>
    <th>
      Signs
    </th>
    <th>
      Other Sign.
    </th>
    <th>
      Billing
    </th>
  </tr>
</thead>
  <tbody>
    {{#each pateints}}
    <tr>
      <td align="center">
        {{seq_no}}
      </td><td>
        {{patient_code}}
      </td>
      <td>
        {{visit_code}}
      </td>
      <td>
        {{capitalization patient_name}}
      </td>

      <td>
        {{missing_vitals}}
      </td>
      <td align="center">
        {{{missing_chief_complient}}}
      </td>
      <td align="center">
        {{{missing_significant_signs}}}
      </td>
      <td align="center">
        {{{missing_other_signs}}}
      </td>
      <td align="center">
        {{{missing_billing}}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</section>
