{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <p>Dear {{patient_name}}</p>
            <p>Our records indicate that you are due for an appointment for {{doctor_name}} with
                {{sub_department_name}}, on {{appointment_date}} at {{appointment_from_time}}.</p>
            <p>Your medical well-being is important to us. Please contact us for confirmation/change.</p>
            <br />
            <p>Yours Sincerely,</p>
            <p>The Staff and Physicians at {{hospital_name}}</p>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>