{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>Patient MRN.</th>
                        <th>Patient Name</th>
                        <th>Age</th>
                        <th>Appo. Status</th>
                        <th>Remarks</th>
                        <th>Taken/ Cancelled By</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each groupdetails}}
                    <tr>
                        <td colspan="9" class="tableSubHdg">{{doctor_name}} | {{doctor_code}} <small>Total - Booked:{{doctor_name}} |  Cancelled:{{doctor_name}} | No Show:{{doctor_name}}</small></td>
                    </tr>
                    {{#each details}}
                    <tr>
                       <td>{{inc @index}}</td>
                       <td>{{appointment_date}}</td>
                       <td>{{appointment_from_time}} - {{appointment_to_time}}</td>
                    <td>{{patient_code}}</td>
                    <td>{{patient_name}}</td>
                    <td>{{age}}</td>
                    <td>{{app_status}}</td>
                     <td> {{#if default_status "CAN"}} {{cancel_reason}} {{else}} {{appointment_remarks}}{{/if}}</td>
                     <td>{{updated_by}}</td>
                    </tr>
                    {{/each }}
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>