{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
                <p>Dear {{header.patient_full_name}}</p>
                <p>Our records indicate that you are due for an appointment for {{header.full_name}} with {{header.sub_department_name}}, on {{header.visit_date}} at {{header.visit_time}}.</p>
                <p>Your medical well-being is important to us. Please contact us for confirmation/change.</p>
                <br/>
                <p>Yours Sincerely,</p>
                <p>The Staff and Physicians at {{header.branchName}}</p>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>
