{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section class="appSlipFormat">
            <p>Dear <span class="patient_name">{{patient_name}}</span></p>
            <p>Our records indicate that you are due for an appointment with <span>Dr. {{doctor_name}}</span> - <span>{{sub_department_name}}</span>, on <span>{{appointment_date}}</span> at <span>{{appointment_from_time}}</span>.</p>
            <p>Your medical well-being is important to us. Please contact us for confirmation/change.</p>
            <br />
            <p>Yours Sincerely,</p>
            <p>The Staff and Physicians at <span>{{hospital_name}}</span></p>
        </section>
    </div>
</body>