{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            {{!-- <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Total Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table> --}}


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Visit Code</th>
                        <th>Visit Date</th>
                        <th>Service Code</th>
                        <th>Amount</th>
                    </tr>

                </thead>
                <tbody>
                    {{!-- <tr>
                        <td colspan="10"></td>
                        <td colspan="1"><span class="textFloatRight">Total No.
                                Employees: <b>{{no_employees}}</b></span></td>

                    </tr> --}}
                    {{#hasElement result}}


                    {{#each result}}
                    <tr>
                        <td colspan="5" class="tableSubHdg">{{service_type}}</td>
                        {{!-- <td class="tableSubHdg2 numberFld"><b>{{dep_total}}</b></td> --}}

                    </tr>
                    {{#each patientList}}
                    <tr>
                        <td colspan="5" class="tableSubHdg2">{{patient_code}} - {{full_name}}
                        </td>
                        {{!-- <td class="tableSubHdg numberFld"><b>{{totalAmt}}</b></td> --}}
                    </tr>
                    {{#each docs}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{visit_code}}</td>
                        <td>{{visit_date}}</td>
                        <td excelborder='{"top":{"style":"thin","color":{"argb":"dddddd"}},"left":{"style":"thin","color":{"argb":"dddddd"}},"bottom":{"style":"thin","color":{"argb":"dddddd"}},"right":{"style":"thin","color":{"argb":"dddddd"}}}'
                            class="txtFld">{{service_name}}</td>
                      
                        <td class="numberFld">{{net_amout}}</td>
                    </tr>
                    {{/each }}
                     {{!-- <tr class="numberFldTotalBottom">
                        <td colspan="4"></td>
                        <td class="numberFld">{{total_net_amout}}</td>
                    </tr>  --}}
                    {{/each }}{{/each }}
                  
                    {{else}}
                    <tr>
                        <td colspan="5" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
             {{!-- <table class="tableTotal">
                <tr class="bold">
                    <td>Net Stock Value</td>
                    <td class="numberFld">{{net_stock_value}}</td>
                   
                </tr>
               
            </table> --}}
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>