{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">VAT Reg No.</label>:<span
                            class="valueText">{{header.tax_number}}</span><label class="textArRht">الرقم الضريبي</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Invoice No</label>:<span
                            class="valueText">{{header.invoice_number}}</span><label class="textArRht">رقم
                            الفاتورة</label></td>
                    <td><label class="textEnLft">Invoice Date</label>:<span
                            class="valueText">{{dateTime header.invoice_date "date"}}</span><label
                            class="textArRht">تاريخ الفاتورة</label></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Patient Name</label>:<span
                            class="valueText">{{header.patient_full_name}}</span><label class="textArRht">الإسم</label>
                    </td>
                    <td><label class="textEnLft">Visit ID</label>:<span
                            class="valueText">{{header.visit_code}}</span><label class="textArRht"> رقم الزيارة</label>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">MR No</label>:<span
                            class="valueText">{{header.patient_code}}</span><label class="textArRht">رقم الملف</label>
                    </td>
                    <td><label class="textEnLft">Reg. Date</label>:<span
                            class="valueText">{{dateTime header.registration_date "date"}}</span><label
                            class="textArRht"> تاريخ التسجيل</label></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Insurance Co.</label>:<span class="valueText">Cash</span><label
                            class="textArRht"> شركة التأمين</label></td>
                    <td><label class="textEnLft">Age/Gender</label>:<span
                            class="valueText">{{header.age_in_years}}/{{header.gender}}</span><label class="textArRht">
                            العمر / الجنس</label></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Policy/ Class</label>:<span class="valueText">Cash</span><label
                            class="textArRht"> البوليصة / الفئة</label></td>
                    <td><label class="textEnLft">Nationality</label>:<span
                            class="valueText">{{header.nationality}}</span><label class="textArRht"> الجنسية</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Doctor</label>:<span
                            class="valueText">{{header.full_name}}</span><label class="textArRht">لطبيب</label></td>
                    <td><label class="textEnLft">Department</label>:<span
                            class="valueText">{{header.sub_department_name}}</span><label
                            class="textArRht">القسم</label></td>
                </tr>

            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Service Code<p>رمز الخدمة</p>
                        </th>
                        <th>Service Desc.<p>وصف الخدمة</p>
                        </th>
                        <th>Qty<p>الكمية</p>
                        </th>
                        <th>Total<p> الإجمالي</p>
                        </th>
                        <th>Disc<p>الخصم</p>
                        </th>
                        <th>Patient Resp.<p>الصافي بالخصم</p>
                        </th>
                        <th>Patient Vat<p>ضريبة المريض</p>
                        </th>
                        <th>Net Due Amt.<p>الصافي المبلغ</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td colspan="9" class="tableSubHdg">{{service_type}}/{{arabic_service_type}}</td>
                    </tr>
                    {{#each detailList}}
                    <tr>
                        <td>{{service_code}}</td>
                        <td>{{capitalization service_name}}</td>
                        <td>{{quantity}}</td>
                        <td class="numberFld">{{gross_amount}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{patient_share}}</td>
                        <td class="numberFld">{{patient_tax}}</td>
                        <td class="numberFld">{{patient_payable}}</td>
                    </tr>
                    {{/each}}
                    {{/each}}

                </tbody>
            </table>
            </table>
            <table class="tableTotal">
                <tr class="bold">
                    <td>Total Amount before VAT</td>
                    <td>{{total_gross_amount}}</td>
                    <td>الإجمالي قبل الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>{{total_discount_amount}}</td>
                    <td>الخصم</td>
                </tr>
                <tr>
                    <td>Net After Discount</td>
                    <td>{{total_company_tax}}</td>
                    <td>الصافي بعد الخصم</td>
                </tr>
                <tr>
                    <td>Client VAT Amount</td>
                    <td>{{total_patient_tax}}</td>
                    <td>الضريبة المضافة على العميل</td>
                </tr>
                <tr>
                    <td>Due Amount + VAT</td>
                    <td>{{total_net_claim}}</td>
                    <td>المبلغ المستحق + الضريبة المضافة</td>
                </tr>
                <tr class="bold">
                    <td>Paid Amount + VAT</td>
                    <td>{{total_patient_share}}</td>
                    <td>المبلغ المدفوع + الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Remaining Amount</td>
                    <td>{{total_net_claim}}</td>
                    <td>المبلغ المتبقي</td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>