{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">
    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Item Location</th>
            <th>Item Category</th>
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Cons. No.</th>
            <th>Cons. Date</th>
            <th>Batch No.</th>
            <th>UOM</th>
            <th>Cons. Cost</th>
            <th>Expiry Date</th>
            <th>Sold Till</th>

          </tr>
        </thead>
        <tbody>
          {{#each details}}
            <tr>
              <td>{{inc @index}}</td>
              <td>{{location_description}}</td>
              <td>{{category_desc}}</td>
              <td>{{item_code}}</td>
              <td class="txtFld">{{item_description}}</td>
              <td>{{consumption_number}}</td>
              <td>{{consumption_date}}</td>
              <td>{{batchno}}</td>
              <td>{{uom_description}}</td>
              <td class="numberFld">{{transaction_total}}</td>
              <td>{{expiry_date}}</td>
              <td class="numberFld">{{transaction_qty}}</td>

            </tr>
          {{/each}}

        </tbody>
      </table>

    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
  </div>
</body>