{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Consumption No.</th>
                        <th>Consumption Date</th>
                        <th>Item Name</th>
                        <th>batchno</th>
                        <th>unit_cost</th>
                        <th>quantity</th>
                        <th>extended_cost</th>
                        <th>uom_description</th>


                        <th>{{sub_department_name}}</th>
                        <th>{{employee_code}}</th>
                        <th>{{full_name}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detailList}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{consumption_number}}</td>
                        <td>{{consumption_date}}</td>
                        <td>{{item_description}}</td>
                        <td>{{batchno}}</td>
                        <td>{{unit_cost}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        <td>{{extended_cost}}</td>

                        <td class="numberFld">{{uom_description}}</td>
                    </tr>
                    {{/each }}

                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>