{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Transaction Date</th>
                        <th>Stock In</th>
                        <th>Stock Out</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{transaction_date}}</td>
                        <td>{{stock_in}}</td>
                        <td>{{stock_out}}</td>

                    </tr>
                    {{/each }}
                       <tr class="tableSubTotal">
                        <td colspan="2">Total</td>
                        <td>{{total_in}}</td>
                        <td>{{total_out}}</td>

                    </tr>

                </tbody>
            </table>


            <table class="tableTotal">
                <tr class="bold">
                    <td>PRESENT QTY IN HAND.</td>
                    <td>{{qtyInHand}}</td>
                    <td>الأسهم الحالية في متناول اليد</td>
                </tr>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>