{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Batch No.</th>
                        <th>UOM</th>
                        <th>Avg. Public Price</th>
                        <th>Expiry Date</th>
                        <th>Sold Till</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_code}}</td>
                        <td>{{item_id}}</td>
                        <td>{{batchno}}</td>
                        <td>{{sales_uom}}</td>
                        <td>{{sale_price}}</td>
                        <td>{{expirydt}}</td>
                        <td>-</td>

                    </tr>
                    {{/each }}


                </tbody>
            </table>

        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>