{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Code</th>
                        <th>Customer/ Company</th>
                        <th>Balance Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td  datatype="string">{{ledger_code}}</td>
                        <td datatype="string"  class="txtFld">{{child_name}}</td>
                        <td class="numberFld">{{numberFormating balance_amount ../decimalOnly}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
    </div>
</body>