{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">


         <section>
             <div style="width:50%">
                 <p>Statement of account: {{child_name}}</p>
             </div>
         </section>
           <section style="width:50%">
            <table class="tableForData" width="50%" cell-padding="0">
                <tbody>
                    <tr>
                        <td class="txtFld">Total Outstanding</td>
                        <td class="numberFld"><b>{{numberFormating total_amountOut ./currencyOnly}}</b></th>
                    </tr>
                     <tr>
                        <td class="txtFld">Credit Amount</td>
                        <td class="numberFld"><b>{{numberFormating creditAmt ./currencyOnly}}</b></th>
                    </tr>
                     <tr>
                        <td class="txtFld">Over Due Amount</td>
                        <td class="numberFld"><b>{{numberFormating overDueAmt ./currencyOnly}}</b></th>
                    </tr>
                </tbody>
                </table>
         </section>

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>No.</th>
                        <th>Invoice Amt.</th>
                        <th>Settled Amt.</th>
                        <th>Balance Amt.</th>
                        <th>Status</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td  datatype="string">{{invoice_date}}</td>
                        <td = datatype="string">{{voucher_type}}</td>
                        {{!-- <td  datatype="string">{{invoice_no}}</td> --}}
                        <td  datatype="string">{{voucher_no}} {{#if voucher_type "Credit Note"}} /{{invoice_no}} {{/if}}</td>
                        <td class="numberFld">{{numberFormating invoice_amount ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating settled_amount ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating balance_amount ../decimalOnly}}</td>
                        <td class="numberFld">{{invoice_status}}</td>
                    </tr>
                    {{/each }}
                     <tr class="numberFldTotalBottom">
                        <td colspan="4"></td>
                        <td class="numberFld">{{numberFormating total_invoice_amount ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating total_settled_amount ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating total_amount ./currencyOnly}}</td>
                        <td class="numberFld"></td>
                    </tr>
                    {{!-- <tr class="numberFldTotalBottom">
                        <td colspan="2"></td>
                        <td class="numberFld">{{numberFormating ftr_total_expected_cash ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating ftr_total_expected_card ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating ftr_total_expected_cheque ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating ftr_net_total_expected ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating ftr_net_total_collected ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating ftr_net_total_diff ./currencyOnly}}</td>
                        <td colspan=""></td>
                    </tr> --}}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>