{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <table class="tableForData" cell-padding="0">
            <thead>
                <tr>
                    <th>Total Sales in Cash</th>

                    <th>Total Sales in Card</th>

                    <th>Total Sales in Cheque</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{total_cash}}</td>
                    <td>{{total_card}}</td>
                    <td>{{total_check}}</td>
                </tr>
            </tbody>
        </table>

        <table class="tableTotal">
            <tr class="">
                <td>Total Sales Invoice Amt.</td>
                <td>{{total_collection}}</td>
                <td>إجمالي المبيعات</td>
            </tr>
            <tr class="">
                <td>Total Return Invoice Amt.</td>
                <td>{{total_returned}}</td>
                <td>إجمالي العائد المبلغ</td>
            </tr>
            <tr class="">
                <td>Total Income Amount</td>
                <td>{{income}}</td>
                <td>إجمالي الدخل</td>
            </tr>

        </table>


    </div>
</body>