{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Waited Cost</th>
                    </tr>

                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_code}}</td>
                        <td excelborder='{"top":{"style":"thin","color":{"argb":"dddddd"}},"left":{"style":"thin","color":{"argb":"dddddd"}},"bottom":{"style":"thin","color":{"argb":"dddddd"}},"right":{"style":"thin","color":{"argb":"dddddd"}}}'
                            class="txtFld">{{item_description}}</td>
                        <td>{{quantity}}</td>
                        <td>{{avgcost}}</td>
                        <td>{{waited_avg_cost}}</td>
                        {{!-- <td class="numberFld">{{numberFormating avgcost ../currencyOnlyWithoutSymbol}}</td>
                        <td class="numberFld">{{numberFormating waited_avg_cost ../currencyOnlyWithoutSymbol}}</td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
            <table class="tableTotal">
                <tr class="bold">
                    <td>Net Stock Value</td>
                    <td class="numberFld">{{numberFormating total_stock currencyOnly }}</td>
                    <td>Net Waited Value</td>
                    <td class="numberFld">{{numberFormating total_waited_stock currencyOnly }}</td>

                </tr>

            </table>
        </section>

    </div>
</body>