{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>category</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Weighted Avg. Cost</th>
                    </tr>

                </thead>
                <tbody>   <tr class="numberFld numberFldTotalBottom">
                    <td colspan="3"></td>
                      <td ></td>
                    <td class="numberFld">{{total_quantity}}</td>
                    <td class="numberFld">{{numberFormating total_stock currencyOnly }}</td>
                    <td class="numberFld">{{numberFormating total_waited_stock currencyOnly }}</td></tr>
                    </tr>
                    {{#each result}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td>{{category_desc}}</td>
                        <td>{{item_code}}</td>
                        <td excelborder='{"top":{"style":"thin","color":{"argb":"dddddd"}},"left":{"style":"thin","color":{"argb":"dddddd"}},"bottom":{"style":"thin","color":{"argb":"dddddd"}},"right":{"style":"thin","color":{"argb":"dddddd"}}}'
                            class="txtFld">{{item_description}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        <td  class="numberFld"> {{numberFormating avgcost ../decimalOnly }}</td>
                        <td class="numberFld">{{numberFormating waited_avg_cost ../decimalOnly }}</td>
                        {{!-- <td class="numberFld">{{numberFormating avgcost ../currencyOnlyWithoutSymbol}}</td>
                        <td class="numberFld">{{numberFormating waited_avg_cost ../currencyOnlyWithoutSymbol}}</td> --}}
                    </tr>
                    {{/each }}
                       <tr class="numberFld numberFldTotalBottom">
                    <td colspan="3"></td>
                    <td class="numberFld">{{total_quantity}}</td>
                    <td class="numberFld">{{numberFormating total_stock currencyOnly }}</td>
                    <td class="numberFld">{{numberFormating total_waited_stock currencyOnly }}</td></tr>
                    </tr>
                </tbody>
            </table>
           
        </section>

    </div>
</body>