
{{{importStyle 'css/ucaf.css'}}}
<body class="print-body">
    <section class="outerCntr">
        <section class="topSection">
            <section class="borderBox topSectionLeft">
                <h4>To be completed & ID verifed by the reception/nurse:</h4>
                <table>
                  <tbody>
                    <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                      <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                      <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                      <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                      <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                      <tr>
                        <td colspan="2">
                             <span>
                                 Plan Type ( {{#if header.patient_marital_status "Plan Type"}}
                                <span>&#10004;</span>
                                {{/if}})
                            </span>
                              <span>New Visit ( {{#if header.new_visit_patient "Y"}}
                                        <span>&#10004;</span>
                                        {{/if}} )</span>
                                   <span>Follow Up ( {{#if header.new_visit_patient "N"}}
                                        <span>&#10004;</span>
                                        {{/if}} )</span>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </section>
            <section class="borderBox topSectionRight">
                <h4>Print/fll in clear letters or emboss card:</h4>
                <table>
                  <tbody>
                    <tr>
                        <td width="100%">
                            <img src={{ imageUrl insurance 0 "primary_card_number" "_front" "Patients" reqHeader }} alt="Insurance ID Card"/>
                        </td>
                    </tr>
                  </tbody>
                </table>
        </section>
          <section class="secondSection">
            <section class="borderBox secondSectionInner">
               
            <h4>To be completed by the Dentist:</h6>
            <section class=" secondSectionLeft">
            <table>
                <tbody>
                    <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                </tbody>
            </table>
            <hr/>
            <h4>Please tick (&#10004;) where appropriate:</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                     <tr>
                        <td>Provider Name:</td>
                        <td>{{header.provider_name}}</td>
                    </tr>
                </tbody>
            </table>
            </section>

            <section class=" secondSectionRight">
                <img class="dcaf_Dental_chart" src="{{imageSource 'images/dcaf_Dental_chart.png'}}" />
            </section>
            </section>
           
    </section>
</body>