{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">

    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Appo. Date</th>
            <th>Appo. Time (From - To)</th>
            <th>Patient Code</th>
            <th>Patient Name</th>
            <th>Age (yrs)/Gender</th>
            <th>Department</th>
            <th>Appo. Remarks</th>
            <th>Appo. Status</th>
            <th>Cancel. Remarks</th>
          </tr>
        </thead>
        <tbody>
          {{#each groupdetails}}
            <tr>
              <td colspan="10" class="tableSubHdg">Dr.
                {{doctor_name}}
                |
                {{doctor_code}}
                <small style="float:right">Total - Checked In:{{checked_in}}
                  | Cancelled:{{cancel}}
                  | No Show:{{no_show}}</small></td>
            </tr>
            {{#each details}}
              <tr>
                <td datatype="string">{{inc @index}}</td>
                <td datatype="string">{{appointment_date}}</td>
                <td datatype="string">{{appointment_from_time}}
                  -
                  {{appointment_to_time}}</td>
                <td>{{patient_code}}</td>
                <td>{{patient_name}}</td>
                <td>{{age}}/{{gender}}</td>
                <td>{{sub_department_name}}</td>
                <td>{{appointment_remarks}}</td>
                <td>{{app_status}}</td>
                <td>{{cancel_reason}}</td>
              </tr>
            {{/each}}
          {{/each}}
        </tbody>
      </table>
    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
  </div>
</body>