{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">

    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Employee code </th>
            <th>Employee Name</th>
            <th>Document Type</th>
            <th>Valid upto</th>

          </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
              <td datatype="string">{{inc @index}}</td>
              <td datatype="string">{{employee_code}}</td>
              <td>{{full_name}}</td>
              <td>{{identity_document_name}}</td>
              <td>{{valid_upto}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
  </div>
</body>