{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Employee Group</th>
                        <th>Department</th>
                        <th>Sub Department</th>
                        <th>Loan Type</th>
                        <th>Applied On</th>
                        <th>Requested Amt</th>
                        <th>Approved Amt</th>
                        <th>Instalment Amt</th>
                        <th>Pending Tenure</th>
                        <th>Due Amt</th>
                    </tr>
                </thead>
                <tbody>{{#hasElement details}}
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="" colspan="8"></td>
                        <td class="numberFld" >{{total_loan_amount}}</td>
                        <td class="numberFld" >{{total_approved_amount}}</td>
                        <td class="numberFld" >{{total_installment_amount}}</td>
                        <td class="" ></td>
                        <td class="numberFld" >{{total_pending_loan}}</td>
                    </tr>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_name}}</td>
                        <td>{{group_description}}</td>
                        <td>{{department_name}}</td>
                        <td>{{sub_department_name}}</td>
                        <td>{{loan_description}}</td>
                        <td>{{loan_application_date}}</td>
                        <td class="numberFld ">{{loan_amount}}</td>
                        <td class="numberFld ">{{approved_amount}}</td>
                        <td class="numberFld numberFldTotal">{{installment_amount}}</td>
                        <td>{{pending_tenure}}</td>
                        <td class="numberFld">{{pending_loan}}</td>
                    </tr>
                    {{/each }}
                    {{else}}
                    <tr>
                        <td colspan="12" class="noResultTextReport">No Records Found</td>
                    </tr>

                    {{/hasElement }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>