{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">

    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Branch</th>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Primary ID</th>
            <th>Designation</th>
            <th>Sub Department</th>
          </tr>
        </thead>
        <tbody>{{#hasElement detailsList}}

            {{#each detailsList}}
              <tr>
                <td>{{inc @index}}</td>
                <td style="width: 100px;">{{hospital_name}}</td>
                <td style="width: 100px;">{{employee_code}}</td>
                <td class="txtFld">{{full_name}}</td>
                <td style="width: 100px;">{{identity_no}}</td>
                <td class="txtFld">{{designation}}</td>
                <td class="txtFld">{{sub_department_name}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="9" class="noResultTextReport">No Records Found</td>
            </tr>{{/hasElement}}

        </tbody>
      </table>
    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
  </div>
</body>