{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Employee Group</th>
                        <th>Department</th>
                        <th>Sub Department</th>
                        <th>Applied On</th>
                        <th>Loan Amt</th>
                        <th>Approved Amt</th>
                        <th>EMI Amt</th>
                        <th>Due Amt</th>
                    </tr>
                </thead>
                <tbody>{{#hasElement details}}
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_name}}</td>
                        <td>{{group_description}}</td>
                        <td>{{department_name}}</td>
                        <td>{{sub_department_name}}</td>
                        <td>{{loan_application_date}}</td>
                        <td>{{loan_amount}}</td>
                        <td>{{approved_amount}}</td>
                        <td>{{installment_amount}}</td>
                        <td>{{pending_loan}}</td>
                    </tr>
                    {{/each }}
                    <tr>
                        <td colspan="9" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>
