{{{importStyle 'css/algaehReportStyles.css'}}}
{{#each result}}

<body style="width: 100%; height: 100%;">
    <div class="print-body" style="page-break-before: always; page-break-after: always; margin-right:15px">
        <section>
            <table class="tableForLabel labelBlock" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch: </label><span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">Employee Code:</label><span class="valueText">{{employee_code}}</span>
                    </td>
                    <td colspan="3"><label class="textEnLft">Employee Name:</label><span
                            class="valueText">{{full_name}}</span></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Designation:</label><span class="valueText">{{designation}}</span></td>

                    <td><label class="textEnLft">Sub Department: </label><span class="valueText">
                            {{sub_department_name}}</span></td>
                    <td><label class="textEnLft">Date of Joining</label><span class="valueText">{{DOJ}}</span>
                    <td><label class="textEnLft">Date of Exit:</label><span class="valueText">{{DOE}}</span>
                    </td>

                    <td><label class="textEnLft">Salary Month & Year:</label><span class="valueText">{{month}} -
                            {{year}}</span></td>
                </tr>

            </table>
        </section>

        <section style="border:1px solid #ccc;border-bottom:2px dashed #ccc;">
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-right:0.2%;float:left;">
                <thead>
                    <tr>
                        <th style="width: 60%">Salary Earnigns</th>
                        <th style="width: 40%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each emp_earnings}}
                    <tr>
                        <td style="height: 25px;" valign="top">{{earning_description}}</td>
                        <td style="height: 25px;" valign="top" class="numberFld">{{earning_amount}}</td>
                    </tr>
                    {{/each}}

                    <tr class="footerTotalDown">
                        <td>Total</td>
                        <td class="numberFld">{{total_earnings}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-left:0.2%;float:right;">
                <thead>
                    <tr>
                        <th style="width: 60%">Salary Deductions</th>
                        <th style="width: 40%">Amount</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each emp_deductions}}
                    <tr>
                        <td style="height: 25px;">{{deduction_description}}</td>
                        <td style="height: 25px;" class="numberFld">{{deduction_amount}}</td>
                    </tr>
                    {{/each}}

                    <tr class="footerTotalDown">
                        <td>Total</td>
                        <td class="numberFld">{{total_deductions}}</td>
                    </tr>

                </tbody>
            </table>
        </section>
        {{!-- <br />
        <section style="border:1px solid #ccc;border-bottom:2px dashed #ccc;">
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-right:0.2%;float:left;">
                <thead>
                    <tr>
                        <th style="width: 60%">Earnigns</th>
                        <th style="width: 40%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each emp_other_earnings}}
                    <tr>
                        <td style="height: 25px;" valign="top">{{earning_name}}</td>
                        <td style="height: 25px;" valign="top" class="numberFld">{{amount}}</td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-left:0.2%;float:right;">
                <thead>
                    <tr>
                        <th style="width: 60%">Deductions</th>
                        <th style="width: 40%">Amount</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each emp_other_deductions}}
                    <tr>
                        <td style="height: 25px;">{{deduction_name}}</td>
                        <td style="height: 25px;" class="numberFld">{{deduction_amount}}</td>
                    </tr>
                    {{/each}}



                </tbody>
            </table>
        </section> --}}
        <br />
        <section>

            <table class="tableForData">
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Salary</td>
                    <td class="numberFld" width="29.5%" colspan="3">{{total_salary}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Other Earnings</td>
                    <td class="numberFld" colspan="3">{{total_other_earnings}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Leave Encashment</td>
                    <td class="numberFld" colspan="3">{{total_leave_encash_amount}}</td>
                </tr>
                <tr class="footerTotalUp" style="border-bottom:1px solid #000">
                    <td class="numberFld">Total Gratuity</td>
                    <td class="numberFld" colspan="3">{{total_gratuity_amount}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Other Deductions</td>
                    <td class="numberFld" colspan="3">(-) {{total_other_deductions}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Pending Loan</td>
                    <td class="numberFld" colspan="3">(-) {{total_loan_amount}}</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="numberFld">Final Settlement Amount</td>
                    <td class="numberFld" colspan="3">{{final_payble}}</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="numberFld">In Words</td>
                    <td class="numberFld salaryWord" colspan="3">{{salary_in_words}}
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <table class="tableForLabelSignature labelBlock" cell-padding="0">
                <tr>
                    <td width="50%">
                        <p>I hereby confirm the above to be correct and have no claim on my Final Settlement.</p>

                        <span>{{full_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                    <td width="50%" class="numberFld">
                        <p>أؤكد بموجب هذا أن ما ورد أعلاه صحيح وليس لدي أي مطالبة بشأن التسوية النهائية
                        </p>
                        <span>{{arabic_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                </tr>


            </table>
        </section>
        <p style="text-align: center">This is a system generated payslip on {{currentDateTime 'date'}}. </p>
    </div>
</body>
{{/each }}