{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body" style="page-break-before: always; page-break-after: always; margin-right:15px">
        <section>
            <table class="tableForLabel labelBlock" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Branch: </label><span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">Employee Code:</label><span class="valueText">{{employee_code}}</span>
                    </td>
                    <td colspan="2"><label class="textEnLft">Employee Name:</label><span
                            class="valueText">{{full_name}}</span></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Designation:</label><span class="valueText">{{designation}}</span></td>

                    <td><label class="textEnLft">Sub Department: </label><span class="valueText">
                            {{sub_department_name}}</span></td>
                    <td><label class="textEnLft">Date of Joining</label><span
                            class="valueText">{{date_of_joining}}</span>
                    <td><label class="textEnLft">Date of Exit:</label><span class="valueText">{{exit_date}}</span>
                    </td>

                    {{!-- <td><label class="textEnLft">Salary Month & Year:</label><span class="valueText">{{month}} -
                            {{year}}</span></td> --}}
                </tr>
                <tr>
                    <td><label class="textEnLft">Settlement No: </label><span
                            class="valueText">{{final_settlement_number}}</span></td>

                    <td colspan="3"><label class="textEnLft">Status & Date:</label><span
                            class="valueText">{{final_settlement_status}} / {{settled_date}}</span></td>
                    {{!-- <td><label class="textEnLft">Settlemnt Date:</label><span class="valueText"></span>
                    </td> --}}
                </tr>

            </table>
        </section>

        <section style="border:1px solid #ccc;border-bottom:2px dashed #ccc;">
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-right:0.2%;float:left;">
                <thead>
                    <tr>
                        <th style="width: 20%">Type</th>
                        <th style="width: 60%">Salary Earnigns</th>
                        <th style="width: 20%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each earningsData}}
                    <tr>
                        <td style="height: 25px;" valign="middle">{{salary_type}}</td>
                        <td style="height: 25px;" valign="middle" class="txtFld">{{earning_deduction_description}}</td>
                        <td style="height: 25px;" valign="middle" class="numberFld">{{amount}}</td>
                    </tr>
                    {{/each}}
                    {{!-- 
                    <tr class="footerTotalDown">
                        <td>Total</td>
                        <td class="numberFld">{{total_earnings}}</td>
                    </tr> --}}
                </tbody>
            </table>
            <table class="tableForData" cell-padding="0" style="width:49.8%;margin-left:0.2%;float:right;">
                <thead>
                    <tr>
                        <th style="width: 20%">Type</th>
                        <th style="width: 60%">Salary Deductions</th>
                        <th style="width: 20%">Amount</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each deductionData}}
                    <tr>
                        <td style="height: 25px;" valign="middle">{{salary_type}}</td>
                        <td style="height: 25px;" valign="middle" class="txtFld">{{earning_deduction_description}}</td>
                        <td style="height: 25px;" valign="middle" class="numberFld">{{amount}}</td>
                    </tr>
                    {{/each}}

                    {{!-- <tr class="footerTotalDown">
                        <td>Total</td>
                        <td class="numberFld">{{total_deductions}}</td>
                    </tr> --}}

                </tbody>
            </table>
        </section>
        <br />
        <section>

            <table class="tableForData">
                <tr class="footerTotalUp">
                    <td class="numberFld">Net Salary</td>
                    <td class="numberFld" width="29.5%" colspan="3">{{total_salary}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Misc Earnings</td>
                    <td class="numberFld" colspan="3">{{total_earnings}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Net Leave Encashment</td>
                    <td class="numberFld" colspan="3">{{total_leave_encash}}</td>
                </tr>
                <tr class="footerTotalUp" style="border-bottom:1px solid #000">
                    <td class="numberFld">Net Gratuity</td>
                    <td class="numberFld" colspan="3">{{total_eos}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Total Misc Deductions</td>
                    <td class="numberFld" colspan="3">(-) {{total_deductions}}</td>
                </tr>
                <tr class="footerTotalUp">
                    <td class="numberFld">Net Loan</td>
                    <td class="numberFld" colspan="3">(-) {{total_loans}}</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="numberFld">Final Settlement Amount</td>
                    <td class="numberFld" colspan="3">{{total_amount}}</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="numberFld">In Words</td>
                    <td class="numberFld salaryWord" colspan="3">{{salary_in_words}}
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <table class="tableForLabelSignature labelBlock" cell-padding="0">
                <tr>
                    <td width="50%">
                        <p>I hereby confirm the above to be correct and have no claim on my Final Settlement.</p>

                        <span>{{full_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                    <td width="50%" class="numberFld">
                        <p>أؤكد بموجب هذا أن ما ورد أعلاه صحيح وليس لدي أي مطالبة بشأن التسوية النهائية
                        </p>
                        <span>{{arabic_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                </tr>


            </table>
        </section>
        <p style="text-align: center">This is a system generated payslip on {{currentDateTime 'date'}}. </p>
    </div>
</body>