<section class="footerContent" style="margin-left:15px">
    <span>Because Your Health Matters</span><br />
    <span class="textWithIcon">
        لأن صحتك مهمة</span><br />
    <span>{{phone1}}</span><br />
    <span> <img class="inlineIcon" src="{{imageSource 'images/facebook.png'}}" />
        <img class="inlineIcon" src="{{imageSource 'images/instagram.png'}}" />
        <img class="inlineIcon" src="{{imageSource 'images/snapchat.png'}}" />
        <img class="inlineIcon" src="{{imageSource 'images/twitter.png'}}" /> excelcare1m</span><br />
    <span>www.excelcare.com.sa</span><br />
</section>