{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            
            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Patient Name</label>:<span
                            class="valueText">{{header.full_name}}</span><label class="textArRht">
                            اسم المريض</label></td>
                    <td><label class="textEnLft">Age</label>:<span class="valueText">{{header.age_in_years}}</span><label
                            class="textArRht">
                            عمر</label></td>
                   

                </tr>
                <tr>
                    <td><label class="textEnLft">MR No</label>:<span
                            class="valueText">{{header.patient_code}}</span><label class="textArRht"> رقم الملف</label>
                    </td>
                  
                    <td><label class="textEnLft">Sex</label>:<span class="valueText">{{header.gender}}</span><label
                            class="textArRht"> جنس
                        </label>
                    </td>

                </tr>

            </table>


        </section>
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tbody>
                    <tr><td valign="bottom"><h2 style="margin:0">General Consent for Treatment</h2></td><td valign="bottom" style="text-align:right"><h2 style="margin:0">الموافقة العامة على العلاج</h2></td></tr>
                    <tr>
                        <td valign="top" style="width:50%" >
                        <ul class="generalConsent">
                            <li>I hereby authorize <b>{{header.organization_name}}</b> physicians, nurses and allied health professionals to administer and perform medical examination, investigation (laboratory/ radiological), medical treatment, non-invasive (diagnostic/ treatment) procedures, during the course of my care be deemed advisable or necessary with no guarantees about the final results of the treatment.
                            </li>
                            <li>My written consent will be taken prior to any of the followings: - All Surgical Procedures Oral and Dental Surgical Procedures and implants Partial, Complete or Immediate Dentures Orthodontics Treatment: Root Canal Treatment Dental fillings Crown and Bridge Periodontal procedures Laser procedures Botox and filler injections- Any Other High-Risk Treatment or Invasive Procedures – Photography and Transfer to hospital.
                            </li>
                            <li>	I, also declare that during my stay in <b>{{header.organization_name}}</b> no claim for valuables, jewelry or lost property will be made against <b>{{header.organization_name}}</b> since I was advised that it is my responsibility to secure my belongings.
                            </li>
                            <li>	The expected cost has been discussed with me and I consent to pay all charges in consideration of the services will be rendered to me according to <b>{{header.organization_name}}</b> regular rates and terms.
                            </li>
                            <li>	I acknowledge that I have received the list of patient and family rights and responsibilities during registration.
                            </li>
                            <li>	I authorize <b>{{header.organization_name}}</b> physicians, nurses and the healthcare team to release my medical information for the purpose of insurance coverage or to provide the payer of my treatment cost with the required information.
                            </li>
                            <li>	I also authorize physicians, nurses and healthcare team to provide the next healthcare provider the required information needed for continuity of care when I require transfer or referral.
                            </li>
                            <li>	I also consent to <b>{{header.organization_name}}</b> to contact me by telephone if needed regarding appointment and follow-up
                            needs.</li>
                        </ul>
                        </td>
                        <td valign="top" style="width:50%;text-align:right">
<ul class="generalConsentAra">
 <li>	أصرح بموجب هذا للأطباء والممرضات والمهنيين الصحيين المساعدين في <b>{{header.legal_name}}</b> بإجراء الفحص الطبي والتحقيق (المختبر / الإشعاعي) والعلاج الطبي والإجراءات غير الغازية (التشخيصية / العلاجية)، أثناء فترة رعايتي. ضروري مع عدم وجود ضمانات بشأن النتائج النهائية للعلاج.
</li><li>	سيتم أخذ موافقتي الخطية قبل أي من الإجراءات التالية: - جميع الإجراءات الجراحية، العمليات الجراحية للفم والأسنان وزراعة الأسنان أطقم الأسنان الجزئية أو الكاملة أو الفورية علاج تقويم الأسنان، معالجة قناة الجذر، حشوات الأسنان، التاج والجسور إجراءات اللثة - إجراءات الليزر حقن البوتوكس والحشو أي علاج آخر عالي الخطورة وإجراء جراحي تصوير نقل إلى المستشفى
</li><li>	أصرح أيضًا أنه أثناء إقامتي في <b>{{header.legal_name}}</b>، لن يتم رفع أي مطالبة بشأن الأشياء الثمينة أو المجوهرات أو الممتلكات المفقودة ضد مجمع <b>{{header.legal_name}}</b> منذ أن أُبلغت بأن من مسؤوليتي تأمين ممتلكات
</li><li>	تمت مناقشة التكلفة المتوقعة معي وأنا أوافق على دفع جميع الرسوم مقابل الخدمات التي سيتم تقديمها لي وفقًا للأسعار والشروط العادية ل<b>{{header.legal_name}}</b>
</li><li>	أقر بأنني استلمت قائمة حقوق ومسؤوليات المريض والأسرة أثناء التسجيل.
</li><li>	أفوض الأطباء والممرضات وفريق الرعاية الصحية في <b>{{header.legal_name}}</b> بالإفصاح عن المعلومات الطبية الخاصة بي لغرض التغطية التأمينية أو تزويد دافع تكلفة العلاج بالمعلومات المطلوبة.
</li><li>	أفوض أيضًا الأطباء والممرضات وفريق الرعاية الصحية لتزويد مقدم الرعاية الصحية التالي بالمعلومات المطلوبة لاستمرارية الرعاية عندما أحتاج إلى التحويل أو الإحالة.
</li><li>	أوافق أيضا على ان يقوم مركز اكسل كير الطبي بالاتصال بي عبر الهاتف إذا لزم الامر بخصوص المواعيد والمتابعة.
</li>
</ul>

                        </td>
                    </tr>
                   

                </tbody>
            </table>
            <table class="tableNoBorder" cell-padding="0">
 <tr>
                        <td valign="top"><small>In case of inability to write or sign, thumb-stamp shall be placed on the space provided for patient’s signature indicating whether it is left or right.</small></td>
                        <td valign="top" style="text-align:right"><small>• في حالة عدم القدرة على الكتابة أو التوقيع ، يجب وضع ختم الإبهام على المساحة المتوفرة لتوقيع المريض موضحًا ما إذا كان يسارًا أم يمين في حالة عدم القدرة على الكتابة أو التوقيع ، يجب وضع ختم الإبهام على المساحة المتوفرة لتوقيع المريض موضحًا ما إذا كان يسارًا أم يمينًا</small></td>
                    </tr>
                    <tr>
                        <td valign="top">By signing below, I acknowledge that, I have read, understood, and agreed with the above terms and conditions:</td>
                        <td valign="top" style="text-align:right"> 
بالتوقيع أدناه، أقر بأنني قد قرأت وفهمت ووافقت على الشروط والأحكام المذكورة أعلاه:
</td>
                    </tr>
            </table>
            <table class="tableForLabel" cell-padding="0" style="text-align: right">

                <tr>
                     <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>
                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>اسم المريض:</p>
                        Patient Name
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>
                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>موظف الاستقبال</p>
                       Receptionist name
                    </td>
                </tr>
            </table>
            <table class="tableNoBorder" cell-padding="0">
                <tr><td  valign="top">If the Patient is not capable of consenting, a representative may sign instead in the following cases:</td><td  valign="top" style="text-align:right">إذا لم يكن المريض قادرًا على الموافقة، فيجوز لمندوبه التوقيع بدلاً من ذلك في الحالات التالية</td></tr>
                <tr>
                    <td valign="top">
                        <p>■ The patient is a minor under 18 years age.</p>
                        <p>■ If patient is mentally incompetent or unconscious.</p>
                        <p>■ Other </p>
                    </td>
                    <td valign="top" style="text-align:right">
                        <p>كان المريض قاصرًا دون سن 18 عامًا ■</p>
                        <p>إذا كان المريض غير كفء عقليًا أو فاقدًا للوعي ■</p>
                        <p>أخرى ■</p>
                    </td>
                </tr>
            </table>

            <table class="tableForLabel" cell-padding="0" style="text-align: right">

                <tr>
                     <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>

                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>علاقته بالمريضة:</p>
                        Relation to Patient
                    </td>
                    <td>
                        <p>اسم ولي الامر:</p>
                        Guardian Name
                    </td>
                </tr>
               
                
            </table>
        </section>
    </div>
</body>