<div>
    <table border="1">
        <thead>
            <tr>
                <th colspan="2">

                </th>
                <th>SPHERICAL</th>
                <th>CYLINDRICAL</th>
                <th>AXIS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">BCVA</td>
                <td>DV</td>
                <td>{{bcva_dv_right_sch}}</td>
                <td>{{bcva_dv_right_cyl}}</td>
                <td>{{bcva_dv_left_axis}}</td>
            </tr>
            <tr>
               
                <td>NV</td>
                <td>{{bcva_nv_right_sch}}</td>
                <td>{{bcva_nv_right_cyl}}</td>
                <td>{{bcva_nv_left_axis}}</td>
            </tr>
        </tbody>
    </table>
</div>