{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                     <tr>
    <th>SL No.</th>
    <th>Date</th>
    <th>Sales</th>
    <th>Purchase</th>
    <th>GP</th>
    <th>GP %</th>
  </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{receipt_no}}</td>
                        <td>{{receipt_date}}</td>
                        <td>{{bill_no}}</td>
                        <td>{{patient_name}}</td>
                        <td>{{patient_no}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
             <table class="tableTotal">
              <tr><td>Total Sales Amount</td><td>{{total_gross_amount}}</td><td>الإجمالي قبل الضريبة المضافة</td></tr>
                 <tr><td>Total Purchase Amount</td><td>{{total_discount_amount}}</td><td>الخصم</td></tr>
                      <tr><td>Total GP</td><td>{{total_patient_share}}</td><td>نسبة التحمل</td></tr>
                       <tr><td>Total GP%</td><td>0.00</td><td>المبلغ المدفوع</td></tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>