{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Date</th>

                        <th>Purchase</th>
                        <th>Sales</th>
                        <th>Vat</th>
                        <th>GP</th>
                        <th>GP-VAT </th>

                        <th>GP %</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td>{{transaction_date}}</td>
                        <td>{{purchase_amount}}</td>
                        <td>{{numberFormating sold_amount ../currencyOnly}}</td>
                        <td>{{numberFormating vat_amount ../currencyOnly}}</td>
                        <td>{{numberFormating profit_amount ../currencyOnly}}</td>
                        <td>{{numberFormating gp_profit_amount_aftr_vat ../currencyOnly}}</td>
                        <td>{{gp_profit_percentage}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>


            <table class="tableTotal">

                <tr>
                    <td>Total Purchase Amount</td>
                    <td>{{numberFormating sum_purchase currencyOnlyWithSymbol}}</td>
                    <td>الخصم</td>
                </tr>
                <tr>
                    <td>Total Sales Amount</td>
                    <td>{{numberFormating sum_sold_amount currencyOnlyWithSymbol}}</td>
                    <td>الإجمالي قبل الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Total GP</td>
                    <td>{{numberFormating sum_gp_profit_amount_aftr_vat currencyOnlyWithSymbol}}</td>
                    <td>نسبة التحمل</td>
                </tr>
                <tr>
                    <td>Total GP%</td>
                    <td>{{sum_gp_percent}}</td>
                    <td>المبلغ المدفوع</td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>