{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <h3>Reconciliation Report For: {{header.deducting_month}}-{{header.year}}</h3>
                <thead>

                      <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Date of Joining</th>
                        <th>Basic Salary</th>
                        <th>Opening Gratuity</th>
                        <th>Accured Gratuity</th>
                        <th>Total Gratuity</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                       <tr class="numberFld numberFldTotalBottom">
                  <td colspan="5" class="txtFld"></td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_basic_salary ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_gratuity_opening_balance ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_gratuity_amount ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_acc_gratuity ./currencyOnly}}</td>
                    </tr>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{date_of_joining}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating basic_salary ../decimalOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating gratuity_opening_balance ../decimalOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating gratuity_amount ../decimalOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating acc_gratuity ../decimalOnly}}</td>
                    </tr>
                    {{/each }}
   <tr class="numberFld numberFldTotalBottom">
                  <td colspan="5" class="txtFld"></td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_basic_salary ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_gratuity_opening_balance ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_gratuity_amount ./currencyOnly}}</td>
                        <td class="numberFld" excelalignment='{"vertical":"middle","horizontal":"right"}'>{{numberFormating total_acc_gratuity ./currencyOnly}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>