{{{importStyle 'css/creditinvoice.css'}}}
<div class="print-body">
  <section>
  <h2><span>Patient Details</span></h2>
      <table class="tableForLabel" cell-padding="0">
          <tr>
                <td><label>رقم الملف الطبي / Reg. Number</label></td>
                <td> <span>{{header.patient_code}}</span></td>
          </tr>
          <tr>
              <td><label>اسم المريض / Patient Name</label></td>
              <td><span>{{header.patient_name}}</span></td>

          </tr>
          <tr>
              <td><label>اسم الطبيب / Doctor</label></td>
              <td> <span>{{header.doctor_name}}</span></td>

          </tr>
      </table>
  </section>
  <section>
       <h2><span>Bill Details</span></h2>

       <table class="tableForData" cell-padding="0">
           <thead>
               <tr>
               <th>Analyte</th>
               <th>Result</th>
               <th>Unit</th>
               <th>Normal Range</th>
               <th>Critical Range</th>
               </tr>
           </thead>
           <tbody>

           {{#each details}}
           <tr>
             <td colspan="5" class="tableSubHdg">{{firstElement groupDetail 0 "investigation_name"}}</td>
           </tr>
           {{#each groupDetail}}
               <tr>
                    <td>{{analyte_name}}</td>
                    <td>{{result}}</td>
                    <td>{{result_unit}}</td>
                    <td>{{normal_low }}-{{normal_high}}</td>
                    <td>{{critical_low}}-{{critical_high}}</td>
                </tr>
                {{/each}}
              {{/each}}
           </tbody>
       </table>
  </section>
    <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer>
</div>
