{{{importStyle 'css/algaehReportStyles.css'}}}
<div class="print-body">
    <section>
        <table class="tableForLabel" cell-padding="0">
            <tr>
                <td><label>رقم الملف الطبي / Patient Reg. Number</label></td>
                <td> <span>{{header.patient_code}}</span></td>
                <td><label>اسم المريض / Patient Name</label></td>
                <td><span>{{header.patient_name}}</span></td>
            </tr>

            <tr>
                <td><label> اسم الطبيب المرجعي / Doctor Ordered by</label></td>
                <td> <span>{{header.doctor_name}}</span></td>

                <td><label> اسم الطبيب المرجعي / Ordered Date</label></td>
                <td> <span>{{header.doctor_name}}</span></td>
            </tr>
            <tr>
                <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
            </tr>
            <tr>
                <td><label>اسم اختبار / Test Name</label></td>
                <td colspan="3"> <span>{{header.service_name}}</span></td>
            </tr>
        </table>
    </section>
    <section>

        <table class="tableForData" cell-padding="0">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Analyte</th>
                    <th>Result</th>
                    <th>Unit</th>
                    <th>Normal Range</th>
                    <th>Critical Range</th>
                </tr>
            </thead>
            <tbody>

                {{#each details}}
                <tr>
                    <td colspan="6" class="tableSubHdg"><small>Specimen Name:</small>
                        {{firstElement groupDetail 0 "investigation_name"}}</td>
                </tr>
                {{#each groupDetail}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{analyte_name}}</td>
                    <td>{{result}}</td>
                    <td>{{result_unit}}</td>
                    <td>{{normal_low }}-{{normal_high}}</td>
                    <td>{{critical_low}}-{{critical_high}}</td>
                </tr>
                {{/each}}<tr>
                    <td colspan="6">{{comments}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer>
</div>