{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Code</th>
                        <th>Service Name</th>
                        <th>Arabic Service Name</th>
                        <th>Account Name</th>
                        <th>Procedure Type</th>
                        <th>Is Physiotherapy</th>
                        <th>CPT Code</th>
                        {{!-- <th>CPT De</th> --}}
                        <th>Is Vat Applicable</th>
                        <th>Vat %</th>
                        <th>Standard Fee</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td colspan="11" class="tableSubHdg">{{service_type}} - {{service_count}}</td>
                    </tr>
                        {{#each detailList}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{service_code}}</td>
                                <td class="txtFld">{{service_name}}</td>
                                <td class="numberFld">{{arabic_service_name}}</td>
                                <td >{{child_name}}</td>
                                <td >{{physiotherapy_service}}</td>
                                <td >{{procedure_type}}</td>
                                <td >{{cpt_code}}</td>
                                {{!-- <td >{{cpt_desc}}</td> --}}
                                <td >{{vat_applicable}}</td>
                                <td class="numberFld">{{vat_percent}}</td>
                                <td class="numberFld">{{standard_fee}}</td>
                            </tr>
                        {{/each }}
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>