{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">
    <section>

      <table class="tableDotPrint1" cell-padding="0">
        <tr>
          <td style="width:20%">Statement No.</td>
          <td style="width:60%"><b
            >{{header.insurance_statement_number}}</b></td>
          <td style="width:20%" class="numberFld">رقم البيان</td>
        </tr>
        <tr>
          <td style="width:20%">Company Name</td>
          <td style="width:60%"><b>{{header.insurance_sub_name}}</b></td>
          <td style="width:20%" class="numberFld">اسم الشركة</td>
        </tr>
        <tr>
          <td style="width:20%">Vat No.</td>
          <td style="width:60%"><b>{{header.transaction_number}}</b></td>
          <td style="width:20%" class="numberFld">الرقم الضريبي</td>
        </tr>
        <tr>
          <td style="width:20%">Address</td>
          <td style="width:60%"><b>{{header.eng_address}}</b></td>
          <td style="width:20%" class="numberFld">تبوك</td>
        </tr>
        <tr>
          <td style="width:20%">From Date</td>
          <td style="width:60%"><b>{{header.from_date}}</b></td>
          <td style="width:20%" class="numberFld">من التاريخ</td>
        </tr>
        <tr>
          <td style="width:20%">To Date</td>
          <td style="width:60%"><b>{{header.to_date}}</b></td>
          <td style="width:20%" class="numberFld">حتي اليوم</td>
        </tr>

      </table>
    </section>

    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Service Code</th>
            <th>Service Name</th>
            <th>Qty</th>
            <th>Company Responsibility</th>
            <th>Company Tax</th>
            <th>Company Payable</th>
          </tr>
        </thead>
        <tbody>
          {{#each details}}
            <tr>
              <td datatype="string">{{inc @index}}</td>
              <td class="">{{service_code}}</td>
              <td class="txtFld">{{service_name}}</td>
              <td>{{quantity}}</td>
              <td class="numberFld">{{company_resp}}</td>
              <td class="numberFld">{{company_tax}}</td>
              <td class="numberFld">{{company_payable}}</td>
            </tr>
          {{/each}}
          {{!-- <tr class="numberFldTotalBottom">
            <td colspan="4" class="numberFld"></td>
            <td class="numberFld">{{net_company_resp}}</td>
            <td class="numberFld">{{net_company_tax}}</td>
            <td class="numberFld">{{net_company_payable}}</td>
          </tr> --}}
        </tbody>
      </table>
      <table class="tableTotal" style="float:right;width:30%;margin:5px 0 0;">

        <tr>
          <td>Total Amt.</td>
          <td>{{numberFormating
              header.total_company_responsibility
              currencyheader
            }}</td>
          <td class="numberFld">المبلغ الإجمالي</td>
        </tr>
        <tr>
          <td>Tax Amt.</td>
          <td>{{numberFormating header.total_company_vat currencyheader}}</td>

          <td class="numberFld">قيمة الضريبة</td>
        </tr>
        <tr>
          <td>Net Amt.</td>
          <td>{{numberFormating
              header.total_company_payable
              currencyheader
            }}</td>
          <td class="numberFld">كمية الشبكة</td>
        </tr>
      </table>
    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
  </div>
</body>