{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Today</th>
                        <th>1-30 Days</th>
                        <th>31-60 Days</th>
                        <th>61-90 Days</th>
                        <th>>90 Days</th>
                        <th>Balance</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    {{#hasElement result}}


                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_code}}</th>
                        <td class="txtFld">{{item_description}}</th>
                        <td>{{todays_stock}}</td>
                        <td class="numberFld">{{thirty_days_stock}}</td>
                        <td class="numberFld">{{sixty_days_stock}}</td>
                        <td class="numberFld">{{ninety_days_stock}}</td>
                        <td class="numberFld">{{above_ninety_days_stock}}</td>
                        <td class="numberFld"><b>{{balance}}</b></td>
                    </tr>
                    {{/each }}
                    {{else}}
                    <tr>
                        <td colspan="7" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>