{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Vendor Code</th>
                        <th>Vendor Name</th>
                        <th>Vendor Batch No.</th>
                        <th>PO No.</th>
                        <th>PO Date</th>
                        <th>Delivery No.</th>
                        <th>Delivery Date</th>
                        <th>PO Qty</th>
                        <th>Received Qty</th>
                        <th>Free Qty</th>
                        <th>Unit Cost</th>
                        <th>Sales Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_code}}</td>
                        <td>{{item_description}}</td>
                        <td>{{vendor_code}}</td>
                        <td>{{vendor_name}}</td>
                        <td>{{vendor_batchno}}</td>
                        <td>{{purchase_number}}</td>
                        <td>{{po_date}}</td>
                        <td>{{delivery_note_number}}</td>
                        <td>{{dn_date}}</td>
                        <td class="numberFld">{{po_quantity}}</td>
                        <td class="numberFld">{{dn_quantity}}</td>
                        <td class="numberFld">{{free_qty}}</td>
                        <td class="numberFld">{{numberFormating unit_cost ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating sales_price ../decimalOnly}}</td>
                    </tr>
                    {{/each }}
                   
                    <tr class="footerTotalDown">
                        <td colspan="10"></td>
                        <td class="numberFld"> {{net_po_quantity}}</td>
                        <td class="numberFld">{{net_dn_quantity}}</td>
                        <td class="numberFld">{{net_free_qty}}</td>
                        <td class="numberFld">{{numberFormating net_unit_cost ./currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating net_sales_price ./currencyOnly}}</td>
                    
                    </tr>
                </tbody>
            </table>

{{!-- 
            <table class="tableTotal">

                <tr>
                    <td>Total Purchase Amount</td>
                    <td>{{sum_purchase}}</td>
                    <td>الخصم</td>
                </tr>
                <tr>
                    <td>Total Sales Amount</td>
                    <td>{{sum_sold_amount}}</td>
                    <td>الإجمالي قبل الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Total GP</td>
                    <td>{{sum_gp_profit_amount_aftr_vat}}</td>
                    <td>نسبة التحمل</td>
                </tr>
                <tr>
                    <td>Total GP%</td>
                    <td>{{sum_gp_percent}}</td>
                    <td>المبلغ المدفوع</td>
                </tr>
            </table> --}}
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>