{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            {{!-- <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Total Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table> --}}


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Name</th>
                        <th>Item Category</th>
                        <th>Consumed Qty</th>
                        <th>Consumed Cost</th>
                    </tr>

                </thead>
                <tbody>
                    {{!-- <tr>
                        <td colspan="10"></td>
                        <td colspan="1"><span class="textFloatRight">Total No.
                                Employees: <b>{{no_employees}}</b></span></td>

                    </tr> --}}
                    {{#hasElement result}}


                    {{#each result}}
                    <tr>
                        <td colspan="4" class="tableSubHdg">{{location_description}}</td>
                        <td class="tableSubHdg numberFld"><b>{{location_total}}</b></td>
                    </tr>

                    {{#each location_wise}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td class="txtFld">{{item_description}}</td>
                        <td class="txtFld">{{category_desc}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        <td class="numberFld">{{numberFormating extended_cost ../../currency}}</td>
                    </tr>
                    {{/each }}{{/each }}
                    <tr class="numberFldTotalBottom">
                        <td colspan="4"></td>
                        <td class="numberFld">{{net_total}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>