{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>

                        <th>Transaction Date</th>
                        <th>Stock In</th>
                        <th>Stock Out</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>

                        <td>{{transaction_date}}</td>
                        <td>{{stock_in}}</td>
                        <td>{{stock_out}}</td>

                    </tr>
                    {{/each }}

                </tbody>
            </table>


            <table class="tableTotal">
                <tr class="">
                    <td>PRESENT QTY IN HAND.</td>
                    <td>{{qtyInHand}}</td>
                    <td>إجمالي المبيعات</td>
                </tr>
                <tr class="">
                    <td>TOTAL STOCK OUT.</td>
                    <td>{{total_out}}</td>
                    <td>إجمالي المبيعات</td>
                </tr>
                <tr class="">
                    <td>TOTAL STOCK IN.</td>
                    <td>{{total_in}}</td>
                    <td>إجمالي المبيعات</td>
                </tr>



            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>