{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Industry Company</th>
                        <th>Date</th>
                        <th>Voucher No.</th>
                        <th>Barcode</th>
                        <th>Batch No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Qty</th>
                        <th>Cost Price</th>
                        <th>Total Cost</th>
                        <th>Sale Price</th>
                        <th>Total Sale</th>
                        <th>Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each groupdetails}}
                    <tr>
                        <td colspan="15" class="tableSubHdg">{{doctor_name}} | {{doctor_code}} <small style="float:right">Total - Checked
                                In:{{checked_in}} | Cancelled:{{cancel}} | No Show:{{no_show}}</small></td>
                    </tr>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{appointment_date}}</td>
                        <td>{{appointment_from_time}} - {{appointment_to_time}}</td>
                        <td>{{patient_code}}</td>
                        <td>{{patient_name}}</td>
                        <td>{{age}}</td>
                        <td>{{app_status}}</td>
                    </tr>
                    {{/each }}
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>