{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                     <tr>
    <th>SL No.</th>
    <th>Supplier</th>
    <th>Item Code</th>
    <th>Barcode</th>
    <th>Batch No.</th>
    <th>Item Name</th>
    <th>Qty in Sale Unit</th>
    <th>Qty in Purchase Unit</th>
    <th>Category</th>
    <th>Department</th>
    <th>Expiry</th>
  </tr>
                </thead>
                <tbody>
                    {{#each details}}
                        <td>{{inc @index}}</td>
    <td>{{Supplier}}</td>
    <td>{{ItemCode}}</td>
    <td>{{Barcode}}</td>
    <td>{{BatchNo.}}</td>
    <td>{{ItemName}}</td>
    <td>{{QtySaleUnit}}</td>
    <td>{{QtyPurchaseUnit}}</td>
    <td>{{Category}}</td>
    <td>{{Department}}</td>
    <td>{{Expiry}}</td>
                    {{/each }}
              
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>