{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
<div class="print-body">
     
    <section>
        <table class="tableNoBorder" cell-padding="0">
        <tr>
            <td colspan="2"><h1 class="voucherHdg">Remittance Advice</h1></td>
        <tr>
        <tr>
            <td width="55%">
                <table class="tableNoBorder">
                    <tr>
                        <td  class="txtFld">
                            <p>Payment To:</p>
                            <p><b>{{resultHeader.vendor_name}}</b></p>
                            <p><b>{{resultHeader.address}}</b></p>
                            <p><b>{{resultHeader.contact_number}}</b></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55%">
                <table class="tableNoBorder">
                    <tr>
                        <td  class="numberFld"><p>Date: <b>{{resultHeader.payment_date}}</b></p></td>
                    </tr>
                     <tr>
                        <td  class="numberFld"><p>Reference No: <b>{{resultHeader.voucher_no}}</b></p></td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
    </section> 
        <section>
        
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Bill No.</th>
                        <th>Bill Date</th>
                        <th>Due Date</th>
                        <th>Orginal Amount</th>
                        <th>Balance</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultInvoice}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{invoice_no}}</td>
                        <td>{{payment_date}}</td>
                        <td>{{due_date}}</td>
                        <td class="numberFld">{{numberFormating amount ../currency}}</td>
                        <td class="numberFld">{{numberFormating balance ../currency}}</td>
                        <td class="numberFld">{{numberFormating settled_amount ../currency}}</td>
                    </tr>
                    {{/each }}

                </tbody>
            </table>
            <br>
            <table class="tableNoBorder">
                <tr class="footerTotalUp">
                    <td class="txtFld" width="60%" rowspan="3"><b>Memo:</b>
                    <p>{{resultHeader.narration}}</p></td>
                    <td class="numberFld">Sub Total: </td>
                     <td class="numberFld">{{numberFormating resultHeader.amount currencyHeader}}</td>

                     
                </tr>
                 <tr class="footerTotalUp">
                    <td class="numberFld">Credits Included: </td>
                    <td class="numberFld">0.00</td>
                </tr>
                 <tr class="footerTotalUp">
                    <td class="numberFld">Total: </td>
                    <td class="numberFld">0.00</td>
                </tr>
            </table>
        </section>
        
    <section>
        <table class="tableNoBorder" cell-padding="0">
        <tr>
            <td colspan="2"><h3 class="voucherSubHdg">Credits Summary</h3></td>
        <tr>
        </table>
        
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Credit No.</th>
                        <th>Credit Date</th>
                        <th>Orginal Amount</th>
                        <th>Balance</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                     {{!-- {{#each resultDebitNote} --}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{invoice_no}}</td>
                        <td>{{payment_date}}</td>
                        <td>{{due_date}}</td>
                        <td>{{amount}}</td>
                        <td>{{account_name}}</td>
                    </tr>
                    {{!-- {{/each }} --}}

                </tbody>
            </table>
            <br>
            <table class="tableNoBorder">
                 <tr class="footerTotalUp">
                    <td class="numberFld">Total: </td>
                    <td class="numberFld" width="25%">0.00</td>
                </tr>
            </table>
    </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>