{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
<div class="print-body">
    <section>
        <table class="tableNoBorder" cell-padding="0">
        <tr>
            <td><h1 class="voucherHdg">Contra Voucher</h1></td>
        <tr>
      <tr>
                        <td  class="numberFld"><p>Date: <b>{{resultHeader.payment_date}}</b></p></td>
                    </tr>
                     <tr>
                        <td  class="numberFld"><p>Reference No: <b>{{resultHeader.voucher_no}}</b></p></td>
                    </tr>
        </table>
    </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Cost Center</th>
                        <th>Ledger Code</th>
                        <th>Ledger</th>
                        <th>Ledger Arabic</th>
                        <th>Debit Amount</th>
                        <th>Credit Amount</th>
                        {{!-- <th>Type</th> --}}
                        <th>Payment Date</th>
                        <th width="25%">Narration</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultInvoice}}
                   <tr>
                        <td>{{inc @index}}</td>
                        <td>{{cost_center_name}}</td>
                        <td>{{ledger_code}}</td>
                       
                        <td>{{child_name}}</td> {{!--{{account_name}} >  --}}
                        <td>{{arabic_child_name}}</td> {{!--{{arabic_account_name}} >  --}}
                        <td class="numberFld">{{numberFormating debit_amount ../currency}}</td>
                        <td class="numberFld">{{numberFormating credit_amount ../currency}}</td>
                        {{!-- <td>{{payment_type}}</td> --}}
                        <td>{{payment_date}}</td>
                        <td class="txtFld">{{narration_detail}}</td>
                    </tr>
                    {{/each }}
 <tr>
                        <td colspan="5"></td>
                        <td class="numberFld">{{numberFormating totalDr ./currency}}</td>
                        <td class="numberFld">{{numberFormating totalCr ./currency}}</td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="tableNoBorder">
                <tr class="footerTotalUp">
                    <td class="txtFld" width="80%" style="vertical-align: top;"><b>Memo:</b>
                    <p>{{resultHeader.narration_head}}</p></td>
                     <td class="numberFld"  style="vertical-align: top;"><p>Total</p><h2>{{numberFormating resultHeader.credit_amount currencyHeader}}</h2></td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>