{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
<div class="print-body">
    <section>
        <table class="tableNoBorder" cell-padding="0">
        <tr>
            <td colspan="2"><h1 class="voucherHdg">Expense Voucher</h1></td>
        <tr>
            
        <tr>
             <td width="55%">
                <table class="tableNoBorder">
                    <tr>
                        <td  class="txtFld">
                            <p>Payment From:</p>
                            <p><b>{{resultHeader.child_name}}</b></p>
                        </td>
                    </tr>
                </table>
            </td>
           
            <td width="55%">
            </td>
        </tr>
        <tr>
          <td width="55%">
                <table class="tableNoBorder">
                    <tr>
                        <td  class="txtFld">
                            <p>Payment To:</p>
                            <p><b></b></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55%">
                <table class="tableNoBorder">
                    <tr>
                        <td  class="numberFld"><p>Date: <b>{{resultHeader.payment_date}}</b></p></td>
                    </tr>
                     <tr>
                        <td  class="numberFld"><p>Reference No: <b>{{resultHeader.voucher_no}}</b></p></td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
    </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Account/Item</th>
                        <th>Description</th>
                        <th>Debit Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultInvoice}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{account_name}} > {{child_name}}</td>
                        <td>{{narration_detail}}</td>
                        <td class="numberFld">{{numberFormating debit_amount ../currency}}</td>
                    </tr>
                    {{/each }}

                </tbody>
            </table>
            <br>
            <table class="tableNoBorder">
                <tr class="footerTotalUp">
                    <td class="txtFld" width="60%" rowspan="3"><b>Memo:</b>
                    <p>{{resultHeader.narration}}</p></td>
                    <td class="numberFld">Sub Total: </td>
                     <td class="numberFld">{{numberFormating resultHeader.credit_amount currencyHeader}}</td>

                     
                </tr>
                 <tr class="footerTotalUp">
                    <td class="numberFld">Total Due: </td>
                    <td class="numberFld">0.00</td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>