{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            {{!-- <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Total Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table> --}}


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Patient Code</th>
                        <th>Patient Name</th>
                        <th>Service Name</th>
                       
                    </tr>

                </thead>
                <tbody>
                    {{!-- <tr>
                        <td colspan="10"></td>
                        <td colspan="1"><span class="textFloatRight">Total No.
                                Employees: <b>{{no_employees}}</b></span></td>

                    </tr> --}}
                    {{#hasElement result}}


                    {{#each result}}
                    <tr>
                        <td colspan="8" class="tableSubHdg">{{date}}</td>

                    </tr>
                    {{#each detailsOf}}
                    <tr>
                        
                        <td  class="tableSubHdg2 numberFld">
                            {{!-- {{numberFormating totalNetworkAmt .../currencyOnly}} --}}
                            {{type}}
                        </td>  
                    </tr>
                    {{#each detail}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{patient_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{service_name}}</td>
                        
                      
                    </tr>
                    {{/each }}
                     {{!-- <tr class="numberFldTotalBottom">
                        <td colspan="4"></td>
                        <td class="numberFld">{{total_net_amout}}</td>
                    </tr>  --}}
                    {{/each }}{{/each }}
                  
                    {{else}}
                    <tr>
                        <td colspan="6" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
             {{!-- <table class="tableTotal">
                <tr class="bold">
                    <td>Net Stock Value</td>
                    <td class="numberFld">{{net_stock_value}}</td>
                   
                </tr>
               
            </table> --}}
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>