{{{importStyle 'css/algaehReportStyles.css'}}}
<style type="text/css">
    .reportHeaderCntr {
        width: 94%;
        border-collapse: collapse;
        padding: 0; margin: 0;
        
    }

.reportHeaderInnerCntr {
        width: 100%;
        border-collapse: collapse;
        margin: 0 18px;
        text-align: left;
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
    .reportHeaderInnerCntr td {
        border:none;
        padding: 0 5px;
        margin: 0;
        font-size: 8px;
    }
    .reportHeaderInnerCntr td p{
        line-height: 5px;

    }
     .reportHeaderInnerCntr td b{
        width: 90px;
        display: inline-block;

    }

    .reportHeaderAnalyte {
        width: 100%;
        border-collapse: collapse;
        margin: 5px 18px 2px;
        text-align: left;
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
    .reportHeaderAnalyte tr td {
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding: 3px 5px;
        font-size: 9px;
        background-color: red!important;
        font-weight: bold;
    }

</style>

<body>
    <table class="reportHeaderCntr" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table class="reportHeaderInnerCntr">
                    <tr style="vertical-align: top">
                        <td style="vertical-align: top" style="height: 62px;">
                            <p><b>Patient Code</b>: {{patient_code}}</p>
                            <p><b>Patient Name & Age</b>:  {{patient_name}} {{age_in_years}} YRS / {{age_in_months}} MTH / {{age_in_days}} DYS</p>
                            <p><b>Refer By</b>: {{doctor_name}} </p>   <p><b>Test Requested</b>: Mentioned Below </p> <p><b>ID No.</b>: {{primary_id_no}}</p>
                        </td>
                        <td width="38%" style="vertical-align: top">
                            <p><b>Sample Collected:</b></p>
                            <p>{{organization_name}}</p>
                            <p>{{address1}}</p>
                            <p>Tel: <span>{{phone1}}</span></p>
                            <p>Vat No: <span>{{tax_number}}</span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="reportHeaderAnalyte">
                    <tr>
                        <td width="32%" class="txtFld">Analyte</td>
                        <td width="20%" class="numberFld">Result</td>
                        <td width="3%" class="numberFld"></td>
                        <td width="15%" class="numberFld">Unit</td>
                        <td width="30%" class="numberFld">Reference Range</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>