{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Salary Number</th>
                        <th>Deducting Month & Year</th>
                        <th>Accured Leave Days</th>
                        <th>Leave Days Closing Balance</th>
                        <th>Accured Leave Salary</th>
                        <th>Leave Salary Closing Balance</th>
                        <th>Accured Airfare</th>
                        <th>Airfare Closing Balance</th>
                        <th>Accured Gratuity</th>
                        <th>Gratuity Closing Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{salary_number}}</td>
                        <td>{{deducting_month}}-{{year}}</td>
                        <td>{{leave_days}}</td>
                        <td>{{balance_leave_days}}</td>
                        <td>{{leave_salary_amount}}</td>
                        <td>{{balance_leave_salary_amount}}</td>
                        <td>{{airticket_amount}}</td>
                        <td>{{balance_airticket_amount}}</td>
                        <td>{{gratuity_amount}}</td>
                        <td>{{acc_gratuity}}</td>
                    </tr>
                    {{/each }}

                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>