{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <h3>Reconciliation Report For: {{deducting_month}}-{{year}}</h3>
                <thead>

                      <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Date of Joining</th>
                        <th>Basic Salary</th>
                        <th>Opening Leave</th>
                        <th>Accured Leave</th>
                        <th>Total Leave</th>
                        <th>Opening Leave Salary</th>
                        <th>Accured Leave Salary</th>
                        <th>Total Leave Salary</th>
                        <th>Opening Airfare</th>
                        <th>Accured Airfare</th>
                        <th>Total Airfare</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{date_of_joining}}</td>
                        <td>{{basic_salary}}</td>
                        <td class="numberFld">{{numberFormating leavedays_opening_balance ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating leave_days ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating total_leave_days ../decimalOnly}}</td>

                        <td class="numberFld">{{numberFormating leavesalary_opening_balance ../decimalOnly}}</td>   
                        <td class="numberFld">{{numberFormating leave_salary_amount ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating total_leave_salary_amount ../decimalOnly}}</td>


                        <td class="numberFld">{{numberFormating airefare_opening_balance ../decimalOnly}}</td>   
                        <td class="numberFld">{{numberFormating airticket_amount ../decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating total_airticket_amount ../decimalOnly}}</td>
                    </tr>
                    {{/each }}
   <tr class="numberFld numberFldTotalBottom">
                  <td colspan="5" class="txtFld"></td>
                        <td class="numberFld">{{numberFormating grand_total_basic_salary currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_opening_leave decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_accured_leave decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_leave_days decimalOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_opening_leave_salary currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_accured_leave_salary currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_leave_salary currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_airfare_opening_balance currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_airticket_amount currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating grand_total_balance_airticket_amount currencyOnly}}</td>                    
                       
                    </tr>
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>