{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <h3>Reconciliation Report For: {{header.deducting_month}}-{{header.year}}</h3>
                <thead>

                      <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Date of Joining</th>
                        <th>Basic Salary</th>
                        <th>Opening Leave</th>
                        <th>Accured Leave</th>
                        <th>Total Leave</th>
                        <th>Opening Leave Salary</th>
                        <th>Accured Leave Salary</th>
                        <th>Total Leave Salary</th>
                        <th>Opening Airfare</th>
                        <th>Accured Airfare</th>
                        <th>Total Airfare</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{date_of_joining}}</td>
                        <td>{{basic_salary}}</td>
                        <td class="numberFld">{{leavedays_opening_balance}}</td>
                        <td class="numberFld">{{leave_days}}</td>
                        <td class="numberFld">{{total_leave_days}}</td>
                        <td class="numberFld">{{leavesalary_opening_balance}}</td>
                        <td class="numberFld">{{leave_salary_amount}}</td>
                        <td class="numberFld">{{total_leave_salary_amount}}</td>
                        <td class="numberFld">{{airefare_opening_balance}}</td>
                        <td class="numberFld">{{airticket_amount}}</td>
                        <td class="numberFld">{{total_airticket_amount}}</td>
                    </tr>
                    {{/each }}
   <tr class="numberFld numberFldTotalBottom">
                  <td colspan="5" class="txtFld"></td>
                        <td class="numberFld">{{grand_total_basic_salary}}</td>
                        <td class="numberFld">{{grand_total_opening_leave}}</td>
                        <td class="numberFld">{{grand_total_accured_leave}}</td>
                        <td class="numberFld">{{grand_total_leave_days}}</td>
                        <td class="numberFld">{{grand_opening_leave_salary}}</td>
                        <td class="numberFld">{{grand_accured_leave_salary}}</td>
                        <td class="numberFld">{{grand_total_leave_salary}}</td>
                        <td class="numberFld">{{grand_total_airfare_opening_balance}}</td>
                        <td class="numberFld">{{grand_total_airticket_amount}}</td>
                        <td class="numberFld">{{grand_total_balance_airticket_amount}}</td>
                         
                        
                       
                    </tr>
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>