{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Employee Group</th>
                        <th>Department</th>
                        <th>Sub Department</th>
                        <th>Leave Days</th>
                        <th>Leave Salary</th>
                        <th>Airfare Amt.</th>
                    </tr>
                </thead>
                <tbody>{{#hasElement detailsList}}
                    <tr class="numberFld numberFldTotalBottom">
                        <td colspan="7"></td>
                        <td class="numberFld">{{sum_leave_salary}}</tdclass="numberFld numberFldTotal">
                        <td class="numberFld">{{sum_airfare_amount}}</td>
                    </tr>
                    {{#each detailsList}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{group_description}}</td>
                        <td>{{department_name}}</td>
                        <td>{{sub_department_name}}</td>
                        <td class="numberFld">{{balance_leave_days}}</td class="numberFld">
                        <td class="numberFld">{{balance_leave_salary_amount}}</td>
                        <td class="numberFld">{{balance_airticket_amount}}</td class="numberFld">
                    </tr>
                    {{/each }}
                    {{else}}
                    <tr>
                        <td colspan="9" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}

                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>