{{{importStyle 'css/algaehReportStyles.css'}}}
{{#each result}}

<body>
    <div class="print-body" style="page-break-before: always; page-break-after: always; margin-right:15px">
        <section>
            <table class="tableForLabel labelBlock" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Employee Code:</label><span class="valueText">{{employee_code}}</span>
                    </td>
                    <td colspan="3"><label class="textEnLft">Employee Name:</label><span
                            class="valueText">{{full_name}}</span></td>
                </tr>
                <tr>

                    <td><label class="textEnLft">Branch: </label><span class="valueText">{{hospital_name}}</span></td>
                  

                    <td colspan="2"><label class="textEnLft">Sub Department: </label><span class="valueText">
                        
                            {{sub_department_name}}</span></td>  <td><label class="textEnLft">Designation:</label><span class="valueText">{{designation}}</span></td>
                              
                  
                </tr>
<tr><td><label class="textEnLft">Request No: </label><span class="valueText">
                            {{encashment_number}}</span></td> <td><label class="textEnLft">Request Date: </label><span class="valueText">
                            {{encashment_date}}</span></td>    <td><label class="textEnLft">Request Status: </label><span class="valueText">
                            {{approval_status}}</span></td>   
                            <td><label class="textEnLft">Payment Status: </label><span class="valueText">
                            {{payment_status}}</span></td></tr>
            </table>
        </section>

        <br />
        <section>
          
            <table class="tableForData">
                <tr class="footerTotalUp">
                    <td class="numberFld">Encashment Days</td>
                    <td class="numberFld" width="29.5%" colspan="3">{{leave_days}} days</td>
                </tr>
                 <tr class="footerTotalUp">
                    <td class="numberFld">Encashment Amount</td>
                    <td class="numberFld" width="29.5%" colspan="3">{{leave_amount}}</td>
                </tr>
               
                <tr class="footerTotalDown">
                    <td class="numberFld">Net Pay</td>
                    <td class="numberFld" colspan="3">{{total_amount}}</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="numberFld">In Words</td>
                    <td class="numberFld salaryWord" colspan="3">{{salary_in_words}}
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <table class="tableForLabelSignature labelBlock" cell-padding="0">
                <tr>
                    <td width="50%">
                        <p>I hereby confirm the above to be correct and have no claim on my availed leave salary.</p>
                        <span>{{full_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                    <td width="50%" class="numberFld">
                        <p>أؤكد بموجب ما سبق انه صحيح وليس لدي اي مطالبة على راتب اجازتي</p>
                        <span>{{arabic_name}}</span>
                        <span>{{employee_code}}</span>
                        <small>{{designation}}</small>
                        <br />
                        <b class="signArea"></b>
                    </td>
                </tr>


            </table>
        </section>
        <p style="text-align: center">This is a system generated payslip on {{currentDateTime 'date'}}. </p>
    </div>
</body>
{{/each }}