{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        {{!-- <th width="40px">Sl No.</th> --}}
                        <th width="100px">Date</th>
                        <th>Particulars</th>
                        <th width="100px">Voucher Type</th>
                        <th width="100px">Voucher No.</th>
                        <th width="80px">Debit Amt</th>
                        <th width="80px">Credit Amt</th>
                    </tr>
                </thead>
                <tbody>
                    {{#hasElement data}}
                    {{#each data}}
                    <tr>
                        <td colspan="5" class="tableSubHdg txtFld">{{payment_date}}</td>
                        <td class="tableSubHdg numberFld">{{day_closing_bal}}</td>
                    </tr>
                    {{#each details}}
                    <tr>
                        <td colspan="5" class="tableSubHdg2 txtFld">{{head_account}}</td>
                        <td class="tableSubHdg2 numberFld">{{total_of_head_account}}</td>
                    </tr>
                    {{#each entries}}
                    <tr>
                        {{!-- <td>{{inc @index}}</td> --}}
                        <td class="">{{payment_date}}</td>
                        <td class="">{{child_name}}</td>
                        <td class="">Voucher Type</td>
                        <td class="">Voucher No.</td>
                        <td class="numberFld ">{{debit_amount}}</td>
                        <td class="numberFld ">{{credit_amount}}</td>
                        {{!--  <td class="numberFld numberFldTotal">{{balance_amount}}</td>--}}
                    </tr>
                    {{/each }}
                    {{/each }}
                    {{/each }}

                    {{/hasElement }}<tr class="numberFld ">
                        <td class="numberFld" colspan="4"></td>
                        <td class="numberFld">{{final_debit_amount}}</td>
                        <td class="numberFld">{{final_credit_amount}}</td>
                    </tr>
                    <tr class="numberFld ">
                        <td class="numberFld" colspan="4">Closing Balance</td>
                        <td class="numberFld"></td>
                        <td class="numberFld">{{final_balance}}</td>
                    </tr>
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="4"></td>
                        <td class="numberFld">{{final_debit_amount}}</td>
                        <td class="numberFld">{{final_credit_amount}}</td>
                    </tr>
                    {{!-- {{else}}
                                        <tr>
                                            <td class="noResultTextReport">No Records Found</td>
                                        </tr> --}}
                </tbody>
            </table>
        </section>
    </div>
</body>