{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        {{#hasElement details}}


        <section>



            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        {{!-- <th>Branch Name</th>
                        <th>Voucher No</th> --}}
                        <th>Date</th>
                        <th>Narration</th>
                        <th>Account</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        {{!-- <td class="txtFld"><span class="textTruncate" style="width: 200px;">{{branchName}}</span></td>
                        <td class="txtFld"><span class="textTruncate" style="width: 100px;">{{voucherNo}}</span></td> --}}
                        <td>{{payment_date}}</td>
                        <td class="txtFld">{{narration}}</td>
                        <td class="numberFld numberFldTotal">{{account_details}}</td>
                        <td class="numberFld numberFldTotal">{{debit_amount}}</td>
                        <td class="numberFld numberFldTotal">{{credit_amount}}</td>
                        <td class="numberFld numberFldTotal">{{balance_amount}}</td>
                    </tr>
                    {{/each }}
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="5">Total</td>
                        <td class="numberFld numberFldTotal">{{000}}</td>
                        <td class="numberFld numberFldTotal">{{000}}</td>
                        <td class="numberFld numberFldTotal"></td>
                    </tr>

                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="5">Balance</td>
                        <td class="numberFld" colspan="2">{{000}}</td>
                        <td class="numberFld"></td>
                    </tr>
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="7">Closing Balance</td>
                        <td class="numberFld">{{000}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td class="noResultTextReport">No Records Found</td>
                    </tr>
                </tbody>
            </table>


        </section>

        {{/hasElement }}




        {{!-- <table class="tableTotal">
            <tr>
                <td>
                    Grand Total Earnings
                </td>
                <td>
                    {{sum_earnings}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Total Deduction
                </td>
                <td>
                    {{sum_deductions}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Total Contribution
                </td>
                <td>
                    {{sum_contributions}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Net Salary
                </td>
                <td>
                    {{sum_net_salary}}
                </td>
            </tr>
        </table> --}}
    </div>

</body>