{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">
        <section>

            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Request No.</label>:<span
                            class="valueText">{{material_requisition_number}}</span>
                    </td>
                    <td><label class="textEnLft">Request From</label>:<span class="valueText">{{from_location}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Request Date</label>:<span class="valueText">{{requistion_date}}</span>
                    </td>
                    <td><label class="textEnLft">Request To</label>:<span class="valueText">{{to_location}}</span></td>

                </tr>
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span>
                    </td>
                    <td><label class="textEnLft">requistion_type</label>:<span
                            class="valueText">{{requistion_type}}</span></td>
                </tr>


            </table>


        </section>
        <section>
            <table class="tableForData" style="margin:0;padding:0;">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Name</th>
                        <th>category_desc</th>
                        <th>UOM</th>
                        <th>Qty Req.</th>
                        <th>Qty Auth.</th>
                        {{!-- <th>Qty Recieved</th> --}}

                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_description}}</td>
                        <td>{{category_desc}}</td>
                        <td>{{uom_description}}</td>
                        <td>{{quantity_required}}</td>
                        <td>{{quantity_authorized}}</td>
                        {{!-- <td>{{quantity_recieved}}</td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        </section>


    </div>
</body>