{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">
        <section>

            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Request No.</label>:<span
                            class="valueText">{{material_requisition_number}}</span>
                    </td>
                    <td><label class="textEnLft">Request From</label>:<span class="valueText">{{from_location}}</span>
                    </td>
                    <td><label class="textEnLft">tranferred No</label>:<span
                            class="valueText">{{transfer_number}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">tranferred Date</label>:<span
                            class="valueText">{{transfer_date}}</span></td>
                    <td><label class="textEnLft">Request To</label>:<span class="valueText">{{to_location}}</span></td>
                    <td><label class="textEnLft">transfer_type</label>:<span class="valueText">{{transfer_type}}</span>
                    </td>
                </tr>


            </table>


        </section>
        <section>
            <table class="tableForData" style="margin:0;padding:0;">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>batchno</th>
                        <th>expiry_date</th>
                        <th>quantity_transfer</th>

                        <th>unit_cost</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}

                    <tr>
                        <td colspan="5" class="tableSubHdg"><small>Item Name:</small><br>{{item_description}} </td>
                        <td class="tableSubHdg"><small>Item Code:</small><br> {{item_code}}</td>
                        <td class="tableSubHdg"><small>Item Category:</small><br> {{category_desc}}</td>
                        <td class="tableSubHdg"><small>requested UOM:</small><br>{{requested_uom}}</td>
                        <td class="tableSubHdg"><small>transferred_uom:</small><br>{{transferred_uom}}</td>
                        <td class="tableSubHdg"><small>quantity_requested:</small><br>{{quantity_requested}}</td>
                        <td class="tableSubHdg"><small>quantity_authorized:</small><br>{{quantity_authorized}}
                        </td>
                        <td class="tableSubHdg"><small>quantity_transferred:</small><br>{{quantity_transferred}}</td>
                    </tr>


                    {{#each batches}}
                    <tr>
                        <td>{{inc @index}}</td>

                        <td>{{batchno}}</td>
                        <td>{{expiry_date}}</td>

                        <td>{{quantity_transfer}}</td>
                        <td>{{unit_cost}}</td>
                    </tr>
                    {{/each }}

                    {{/each }}
                </tbody>
            </table>
        </section>
        </section>


    </div>
</body>