{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            
            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Patient Name</label>:<span
                            class="valueText">{{header.full_name}}</span><label class="textArRht">
                            اسم المريض</label></td>
                    <td><label class="textEnLft">Age</label>:<span class="valueText">{{header.age_in_years}}</span><label
                            class="textArRht">
                            عمر</label></td>
                   

                </tr>
                <tr>
                    <td><label class="textEnLft">MR No</label>:<span
                            class="valueText">{{header.patient_code}}</span><label class="textArRht"> رقم الملف</label>
                    </td>
                  
                    <td><label class="textEnLft">Sex</label>:<span class="valueText">{{header.gender}}</span><label
                            class="textArRht"> جنس
                        </label>
                    </td>

                </tr>

            </table>


        </section>
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tbody>
                    <tr><td valign="bottom" colspan="2" style="text-align: center;"><h2 style="margin:0">Informed Consent</h2></td></tr>
                  <tr><td valign="bottom" width="40%" >and his/her associates to perform the following procedure/high risk treatment:</td><td valign="bottom" style="text-align:right"></td></tr>
                   <tr><td valign="bottom">for me including the performance of any additional procedures that in his/her judgment may be advisable and medically necessary for my wellbeing.</td><td valign="bottom" style="text-align:right"></td></tr>
                   <tr><td valign="bottom" colspan="2" style="text-align: left;">My Treating Physician/Dentist has explained to me the nature of the procedures/treatment:

</td></tr> <tr><td valign="bottom" width="40%" >Potential benefits are:-</td><td valign="bottom" style="text-align:right"></td></tr>
                   <tr><td valign="bottom">Possible alternatives are:-</td><td valign="bottom" style="text-align:right"></td></tr> <tr><td valign="bottom" width="40%" >Likelihood of successful Procedure/Treatment</td><td valign="bottom" style="text-align:right"></td></tr>
                   <tr><td valign="bottom">Possible complications:-</td><td valign="bottom" style="text-align:right"></td></tr> <tr><td valign="bottom" width="40%" >Possible results of not doing the Procedure/Treatment:-</td><td valign="bottom" style="text-align:right"></td></tr>
                   <tr><td valign="bottom">for me including the performance of any additional procedures that in his/her judgment may be advisable and medically necessary for my wellbeing.</td><td valign="bottom" style="text-align:right"></td></tr>
                  
                   

                </tbody>
            </table>
            <table class="tableNoBorder" cell-padding="0">
            <tr>
            <td valign="top"><small>I have had the opportunity to ask questions and my questions have been answered to my satisfaction, No warranty or guarantee has been given to me. I, therefore, consent for above mentioned Procedure/Treatment.</small></td>
            </tr>
                    <tr>
                        <td valign="top">By signing below, I acknowledge that, I have read, understood, and agreed with the above terms and conditions:</td>
                        <td valign="top" style="text-align:right"> 
بالتوقيع أدناه، أقر بأنني قد قرأت وفهمت ووافقت على الشروط والأحكام المذكورة أعلاه:
</td>
                    </tr>
            </table>
            <table class="tableForLabel" cell-padding="0" style="text-align: right">

                <tr>
                     <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>
                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>اسم المريض:</p>
                        Patient Name
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>
                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>موظف الاستقبال</p>
                       Receptionist name
                    </td>
                </tr>
            </table>
            <table class="tableNoBorder" cell-padding="0">
                <tr><td  valign="top">If the Patient is not capable of consenting, a representative may sign instead in the following cases:</td><td  valign="top" style="text-align:right">إذا لم يكن المريض قادرًا على الموافقة، فيجوز لمندوبه التوقيع بدلاً من ذلك في الحالات التالية</td></tr>
                <tr>
                    <td valign="top">
                        <p>■ The patient is a minor under 18 years age.</p>
                        <p>■ If patient is mentally incompetent or unconscious.</p>
                        <p>■ Other </p>
                    </td>
                    <td valign="top" style="text-align:right">
                        <p>كان المريض قاصرًا دون سن 18 عامًا ■</p>
                        <p>إذا كان المريض غير كفء عقليًا أو فاقدًا للوعي ■</p>
                        <p>أخرى ■</p>
                    </td>
                </tr>
            </table>

            <table class="tableForLabel" cell-padding="0" style="text-align: right">

                <tr>
                     <td>
                        <p>الوقت:</p>
                        Time
                    </td>
                    <td>
                        <p>التاريخ:</p>
                        Date
                    </td>

                    <td>
                        <p>التوقيع :</p>
                        Signature
                    </td>
                    <td>
                        <p>علاقته بالمريضة:</p>
                        Relation to Patient
                    </td>
                    <td>
                        <p>اسم ولي الامر:</p>
                        Guardian Name
                    </td>
                </tr>
               
                
            </table>
        </section>
    </div>
</body>