{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        {{!-- <p style="text-align: center;">
            <b> Selected Date Range : {{from_date}} ~ {{to_date}} </b></p>
            <hr/> --}}

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th width="">Month </th>
                        <th width="">Debit Amt</th>
                        <th width="">Credit Amt</th>
                    </tr>
                </thead>
                <tbody>
                 
                    {{#hasElement details}}
                 
                     {{!-- <tr>
                        <td colspan="5" class="txtFld"><b>{{account_name}} / {{ledger_code}}</b></td>
                    </tr> --}}
              {{#each details}}
                    <tr>
                        <td datatype class="">{{month_name}}</td>
                        <td class="numberFld ">{{numberFormating debit_amount ../currencyOnly}}</td>
                        <td class="numberFld ">{{numberFormating credit_amount ../currencyOnly}}</td>
                    </tr>
                       {{/each }}
                  
                    {{/hasElement }}


                    <tr class="numberFld ">
                        <td class="numberFld" colspan=""></td>
                        <td class="numberFld">{{numberFormating total_debit currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating total_credit currencyOnly}}</td>
                    </tr>
                    <tr class="numberFld ">
                        <td class="numberFld" colspan="">Closing Balance</td>
                        <td class="numberFld"></td>
                        <td class="numberFld">CL amount</td>
                    </tr>
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan=""></td>
                        <td class="numberFld">{{numberFormating total_debit currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating total_credit currencyOnly}}</td>
                    </tr>
                </tbody>
            </table>


        </section>




   
    </div>

</body>