{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th width="100px">Month Here</th>
                        <th>Particulars</th>
                        <th width="80px">Debit Amt</th>
                        <th width="80px">Credit Amt</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td class="">{{transaction_month}}</td>
                        <td class="">{{child_name}}</td>
                        <td class="numberFld ">{{debit_amount}}</td>
                        <td class="numberFld ">{{credit_amount}}</td>
                    </tr>
                       {{/each }}
                    {{!-- {{#hasElement months}}
                    {{#each months}}
                    <tr>
                        <td colspan="4" class="tableSubHdg txtFld">{{month_name}}</td>
                        <td class="tableSubHdg numberFld">{{month_closing_bal}}</td>
                    </tr>
                    {{#each head_accounts}}
                    <tr>
                        <td colspan="4" class="tableSubHdg2 txtFld">{{head_account}}</td>
                        <td class="tableSubHdg2 numberFld">{{total_of_head_account}}</td>
                    </tr>
                    {{#each sub_accounts}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td class="txtFld">{{child_name}}</td>
                        <td class="numberFld ">{{debit_amount}}</td>
                        <td class="numberFld ">{{credit_amount}}</td>
                        <td class="numberFld numberFldTotal">{{balance_amount}}</td>
                    </tr>
                    {{/each }}
                    {{/each }}
                    {{/each }}
                  
                    {{/hasElement }} --}}


                    <tr class="numberFld ">
                        <td class="numberFld" colspan="2"></td>
                        <td class="numberFld">{{total_debit}}</td>
                        <td class="numberFld">{{total_credit}}</td>
                    </tr>
                    <tr class="numberFld ">
                        <td class="numberFld" colspan="2">Closing Balance</td>
                        <td class="numberFld"></td>
                        <td class="numberFld">CL amount</td>
                    </tr>
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="2"></td>
                        <td class="numberFld">{{total_debit}}</td>
                        <td class="numberFld">{{total_credit}}</td>
                    </tr>
                </tbody>
            </table>


        </section>




   
    </div>

</body>