{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                     <tr>
    <th>SL No.</th>
    <th>Service Code</th>
    <th>Service Name</th>
    <th>Amount</th>
  </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{service_type_code}}</td>
    <td>{{service_type}}</td>
    <td>{{total_amount}}</td>
                    </tr>
                    {{/each }}
              
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>