{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">

                {{!-- <tr>
                    <td><label class="textEnLft">VAT Reg No.</label>:<span
                            class="valueText">{{header.tax_number}}</span><label class="textArRht">الرقم الضريبي</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Patient Name</label>:<span
                            class="valueText">{{header.patient_full_name}}</span><label class="textArRht">الإسم</label>
                    </td>
                    <td><label class="textEnLft">Visit ID</label>:<span
                            class="valueText">{{header.visit_code}}</span><label class="textArRht"> رقم الزيارة</label>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">MR No</label>:<span
                            class="valueText">{{header.patient_code}}</span><label class="textArRht">رقم الملف</label>
                    </td>
                    <td><label class="textEnLft">Reg. Date</label>:<span
                            class="valueText">{{dateTime header.registration_date "date"}}</span><label
                            class="textArRht"> تاريخ التسجيل</label></td>
                </tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr> --}}

            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Bill No.</th>
                        <th>Bill Amt.</th>
                        <th>Credit Amt.</th>
                        <th>Previous Balance Amt.</th>
                        <th>Receipt Amt.</th>
                        <th>Balance Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{bill_number}}</td>
                        <td>{{bill_amount}}</td>

                        <td>{{credit_amount}}</td>
                        <td>{{previous_balance}}</td>
                        <td>{{receipt_amount}}</td>
                        <td>{{balance_amount}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            </table>
        </section>
    </div>
</body>




{{credit_number}}
{{total_reciept_amount}}
{{write_off_amount}}
{{recievable_amount}}
{{receipt_number}}
{{full_name}}
{{total_cash}}
{{total_card}}
{{total_check}}
{{patient_code}}