{{{importStyle 'css/patientIDCard.css'}}}

<body>
    <div class="print-body">
      <div class="idCardWrapper">
<div class="idCardLogo">
    <img src="{{imageSource 'images/clientLogo.png'}}" />
</div>
<div class="idCardContent">
    <div class="contentSection">
        <p><b>{{header.full_name}}</b></p>
        <p>MRN No: <b>{{header.patient_code}}</b></p>
        <p>Member Since: <b>{{dateTime header.registration_date "date"}}</b></p>
        <p>DOB: <b>{{dateTime header.date_of_birth "date"}}</b></p>
        <div class="barCodeImg"><img src={{barcode "code128" header.patient_code}}  /></div>
    </div>
    <div class="imageSection"><img src={{imageUrl header.patient_code 0 "a" "b" "Patients" "none"}} /></div>
    {{!-- <div class="imageSection"> <img src="{{imageUrl header.patient_code 0 "" "" "Patients" "" }}" /></div> --}}

</div>
      </div>
    </div>
</body>
