{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">

    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Patient Code</th>
            <th>Patient Name</th>
            <th>Primary ID No.</th>
            <th>Date of Birth</th>
            <th>Contact No.</th>
            <th>Investigation Name</th>
            <th>Test Result</th>
            <th>Ordered Date & Time</th>
          </tr>
        </thead>
        <tbody>
          {{#hasElement result}}
            {{#each result}}
              <tr>
                <td>{{inc @index}}</td>
                <td>{{patient_code}}</td>
                <td style="text-align: left;">{{full_name}}</td>
                <td>{{primary_id_no}}</td>
                <td>{{date_of_birth}}</td>
                <td>{{contact_number}}</td>
                <td>{{description}}</td>
                <td>{{result}}</td>
                <td>{{ordered_date}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="10" class="noResultTextReport">No Records Found</td>
            </tr>{{/hasElement}}
        </tbody>

      </table>
    </section>
    {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

  </div>
</body>