<style type="text/css">
    .headerFooterStyle1 {
        width: 100%;
        float: left;
        text-align: center;
        border-top: 0.5rem dotted #ccc;
        font-size: 8px;
        margin-top: 5px;
    }
</style>

<body>
    <div class="headerFooterStyle1">
      
               {{!-- <p><b>{{organization_name}}</b></p> --}}
        <p>{{address1}}, Tel: <span>{{phone1}}</span></p>
            <p>{{address2}}, <span style="display: inline-block; text-align:left;">{{phone1}} :</span>رقم الهاتف</p>
        
        
    </div>
</body>