<style type="text/css">
    .headerFooterStyle1 {
        width: 100%;
        float: left;
        text-align: center;
        border-top: 0.5rem dotted #ccc;
        font-size: 8px;
        margin-top: 5px;
    }
</style>

<body>
    <div class="headerFooterStyle1">
      
               {{!-- <p><b>{{organization_name}}</b></p> --}}
               <p style="direction: rtl;">المملكة العربية السعودية - الخبر - حي الجسر - 
رقم الهاتف: ٩٢٩٩٢٧٢٢١ - الرمز البريدي:٣٤٧١٤</p>
        {{!-- <p>{{address2}}, <span style="display: inline-block; text-align:left;">{{phone2}} :</span>رقم الهاتف</p> --}}
        {{!-- <p>{{address1}}, Tel: <span>{{phone1}}</span></p> --}}
        <p>Kingdom of Saudi Arabia - Al-Khobar - Al-Jisr District - Tel.: {{phone1}} - P.Code 34714</p>
        
        
    </div>
</body>