{{{importStyle 'css/algaehReportStyles.css'}}}

<style>

  
   td,
   span,
   label {
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   }
   .tableForLabel tr td{
   padding:4px 6px !important;
   font-size: 15px  !important;
   font-style: normal;
   font-weight: 400;
   }
   .textArbRht label{
   font-size: 15px  !important;
   }
   .tableForDataNoBorder tr td{
   padding: 5px 3px !important;
   font-size: 15px  !important;
   }
   .pcrTestHead{
       background-color:paleturquoise;
       width: 100%;
       text-align: center;
       padding: 5px 0 !important;
       margin: 0 0 10px;
       font-size: 15px;
       height: 80px;
   }
   .pcrTestHead h4{
       line-height: 10px;
   }
   .QRCodeHere{
      border: 1px solid #000;
      height: 150px;
   } .SealHere{
      height: 150px;
   }
   .tableNoBorder2 p.textEngLft{font-size: 13px; line-height:20px; padding-right: 20px;}
   .tableNoBorder2 p.textArbRht{font-size: 15px; line-height:24px; padding-left: 40px;}
</style>
<div class="print-body">
   <section  style="text-align: center;">
      <p><img style="height:50px;" src="{{imageSource 'images/KSA_EN.png'}}" /></p>
      <h1 style="line-height: 25px;">PCR-RT شهادة فحص فيروس كورونا المستجد ( كوفيد ١٩) بتقنية<br/>
Covid-19 Test Result Certificate-By Real-Time PCR</h1>
   </section>
       <section class="">
        <table class="tableNoBorder2" cell-padding="0">
         <tr>
            <td width="50%" style="vertical-align: top;"><p  class="textEngLft"  >{{header.organization_name}} <br/>
Based on Laboratory results {{header.organization_name}} Confirms that the information and data provided and contained in this report are complete and accurate, and the medical centre bears full responsibility if such information and data appear otherwise.
</p></td>
            <td width="50%" style="vertical-align: top;"><p  class="textArbRht">{{header.legal_name}}<br/>
بناء على النتائج المخبرية يشهد {{header.legal_name}} بأن البيانات والمعلومات الواردة بهذا التقرير كاملة وصحيحة ودقيقة,وتتحمل المنشأة المسؤولية الكاملة إن ظهر خلاف ذلك
</p></td>
         </tr>
         </table>

       </section>
   <section>
      <table class="tableForLabel" cell-padding="0">
         <tr>
            <td class="textEngLft"><label>Lab Order No.</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.lab_id_number}}</span></td>
            <td class="textArbRht"><label>رقم طلب المعمل</label></td>
         </tr>
          {{#if header.primary_id_no null}}
          
          {{else}}
         <tr>
            <td class="textEngLft"><label>{{header.primaryIDName}}</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.primary_id_no}}</span></td>
            <td class="textArbRht"><label>{{header.primaryAraIDName}}</label></td>
         </tr>
         {{/if}}
         {{#if header.secondary_id_no null}}
          
          {{else}}
       <tr>
            <td class="textEngLft"><label>{{header.secondaryIDName}}</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.secondary_id_no}}</span></td>
            <td class="textArbRht"><label>{{header.secondaryAraIDName}}</label></td>
         </tr>
      {{/if}}
         <tr>
            <td class="textEngLft" width="15%"><label>Full Name</label></td>
            <td class="textEngCtr"  width="35%"><span>{{header.patient_name}}</span></td>
            <td class="textEngCtr"  width="35%"><span>{{header.patient_ar_name}}</span></td>
            <td class="textArbRht"  width="15%"><label>الاسم الكامل</label></td>
         </tr>
           <tr>
            <td class="textEngLft"><label>Date of Birth</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.date_of_birth}}</span></td>
            <td class="textArbRht"><label>تاريخ الولادة</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Nationality</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.nationality}}</span></td>
            <td class="textArbRht"><label>الجنسية</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Contact Number</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.tel_code}} {{header.contact_number}}</span></td>
            <td class="textArbRht"><label>رقم التواصل</label></td>
         </tr>

 {{#hasElement result}}
            {{#each result}}
         
            {{#each groupWise}}
           
            {{#each groupDetail}}

     {{#if result "Negative"}}
        <tr>
            <td class="textEngLft" bgcolor="#009688" text="white"><label  style="color: white;">Test Result</label></td>
            <td class="textEngCtr" bgcolor="#009688" text="white"><span  style="color: white;">{{result}}</span></td>
            <td class="textEngCtr" bgcolor="#009688" text="white"><span  style="color: white;"> غير مصاب</span></td>
            <td class="textArbRht" bgcolor="#009688" text="white"><label  style="color: white;">نتيجة الاختبار</label></td>
         </tr>
      {{else}}
       <tr>
            <td class="textEngLft" bgcolor="#f44336" text="white"><label style="color: white;">Test Result</label></td>
            <td class="textEngCtr" bgcolor="#f44336" text="white"><span  style="color: white;">{{result}}</span></td>
            <td class="textEngCtr" bgcolor="#f44336" text="white"><span  style="color: white;">مصاب</span></td>
            <td class="textArbRht" bgcolor="#f44336" text="white"><label  style="color: white;">نتيجة الاختبار</label></td>
         </tr>
      {{/if}}

            {{/each }}{{/each }}{{/each }}
            {{else}}
           <tr>
            <td class="textEngLft" ><label>Test Result</label></td>
            <td class="textEngCtr" colspan="2"></td>
            <td class="textArbRht"><label>نتيجة الاختبار</label></td>
            </tr>
            {{/hasElement }}

         <tr>
            <td class="textEngLft"><label>Test Date/ Time:</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.collected_date}}</span></td>
            <td class="textArbRht"><label>تاريخ/وقت الفحص</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Result Date:</label></td>
            <td class="textEngCtr" colspan="2"><span>{{dateTime header.validated_date "date"}}</span></td>
            <td class="textArbRht"><label>تاريخ نتيجة الفحص </label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Referral institution</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.institute_name}}</span></td>
            <td class="textArbRht"><label>الجهة المحولة</label></td>
         </tr>
      </table>
   </section>
   <section>

<table class="tableNoBorder">
<tr>
   <td  class="textEngCtr"><img style="height: 100px;" src="{{imageSource 'images/1_PCRSEAL.png'}}" /><p>{{header.legal_name}}</p></td>
   <td  class="textEngCtr" width="50%"> <img style="height: 100px;border:1px solid #000;padding:5px;border-radius:2px;" src={{barcode "qrcode" shortUrl false }} /><small style="display:block;margin-top:3px">{{shortUrl}}</small></td>
   <td class="textEngCtr"><img style="height: 80px;" src="{{imageSource 'images/1_MOH.png'}}" /><p>أحد المؤسسات المرخصة من وزارة الصحة السعودية</p><p>Accredited by Saudi Ministry of Health</p></td>
</tr>
<tr>
   <td  class="textEngLft"><p>Scan the QR Code to electronically check the report</p>
   <p>Match sure the data on this report matches the onces in the passport</p></td>
   <td class="textEngCtr" width="50%"></td>
   <td   class="textArbRht"><p>قم بمسح الباركود للتحقق من التقرير الكترونيا</p><p>تأكد من مطابقة البيانات في هذا التقرير
بمعلومات جواز السفر أو الهوية الوطنية
</p></td>
</tr>
</table> 
   </section>
   {{!-- 
   <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer>
   --}}
</div>