{{{importStyle 'css/algaehReportStyles.css'}}}

<style>

  
   td,
   span,
   label {
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   }
   .tableForLabel tr td{
   padding: 6px !important;
   font-size: 15px  !important;
   font-style: normal;
   font-weight: 400;
   }
   .textArbRht label{
   font-size: 15px  !important;
   }
   .tableForDataNoBorder tr td{
   padding: 10px 3px !important;
   font-size: 15px  !important;
   }
   .pcrTestHead{
       background-color:paleturquoise;
       width: 100%;
       text-align: center;
       padding: 5px 0 !important;
       margin: 0 0 10px;
       font-size: 15px;
       height: 80px;
   }
   .pcrTestHead h4{
       line-height: 10px;
   }
   .QRCodeHere{
      border: 1px solid #000;
      height: 150px;
   } .SealHere{
      height: 150px;
   }
   .tableNoBorder2 p.textEngLft{font-size: 15px; line-height:20px; padding-right: 20px;}
   .tableNoBorder2 p.textArbRht{font-size: 18px; line-height:24px; padding-left: 40px;}
</style>
<div class="print-body">
       <section class="">
        <table class="tableNoBorder2" cell-padding="0">
         <tr>
            <td width="50%" style="vertical-align: top;"><p  class="textEngLft"  >Modern Care Medical Complex <br/>
Based on Laboratory results Modern Care Medical Complex Confirms that the information and data provided and contained in this report are complete and accurate, and the medical centre bears full responsibility if such information and data appear otherwise.
</p></td>
            <td width="50%" style="vertical-align: top;"><p  class="textArbRht">مجمع الرعاية الحديثة الطبي<br/>
بناء على النتائج المخبرية يشهد مجمع الرعاية الحديثة بأن البيانات والمعلومات الواردة بهذا التقرير كاملة وصحيحة ودقيقة,وتتحمل المنشأة المسؤولية الكاملة إن ظهر خلاف ذلك
</p></td>
         </tr>
         </table>

       </section>
   <section>
      <table class="tableForLabel" cell-padding="0">
         <tr>
            <td class="textEngLft"><label>Lab Order No.</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.lab_id_number}}</span></td>
            <td class="textArbRht"><label>رقم طلب المعمل</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>{{header.primaryIDName}}</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.primary_id_no}}</span></td>
            <td class="textArbRht"><label>{{header.primaryAraIDName}}</label></td>
         </tr>
           <tr>
            <td class="textEngLft"><label>{{header.secondaryIDName}}</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.secondary_id_no}}</span></td>
            <td class="textArbRht"><label>{{header.secondaryAraIDName}}</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Full Name</label></td>
            <td class="textEngCtr"><span>{{header.date_of_birth}}</span></td>
            <td class="textEngCtr"><span>{{header.patient_name}}</span></td>
            <td class="textArbRht"><label>الاسم الكامل</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Nationality</label></td>
            <td class="textEngCtr"><span>{{header.nationality}}</span></td>
            <td class="textEngCtr"><span>{{header.arabic_nationality}}</span></td>
            <td class="textArbRht"><label>الجنس</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Contact Number</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.tel_code}} {{header.contact_number}}</span></td>
            <td class="textArbRht"><label>تاريخ الولادة</label></td>
         </tr>

 {{#hasElement result}}
            {{#each result}}
         
            {{#each groupWise}}
           
            {{#each groupDetail}}

     {{#if result "Negative"}}
        <tr>
            <td class="textEngLft" bgcolor="#009688" text="white"><label  style="color: white;">Test Result</label></td>
            <td class="textEngCtr" bgcolor="#009688" text="white" colspan="2"><span  style="color: white;">{{result}}</span></td>
            <td class="textArbRht" bgcolor="#009688" text="white"><label  style="color: white;">نتيجة الاختبار</label></td>
         </tr>
      {{else}}
       <tr>
            <td class="textEngLft" bgcolor="#f44336" text="white"><label style="color: white;">Test Result</label></td>
            <td class="textEngCtr" bgcolor="#f44336" text="white" colspan="2"><span  style="color: white;">{{result}}</span></td>
            <td class="textArbRht" bgcolor="#f44336" text="white"><label  style="color: white;">نتيجة الاختبار</label></td>
         </tr>
      {{/if}}

            {{/each }}{{/each }}{{/each }}
            {{else}}
           <tr>
            <td class="textEngLft" ><label>Test Result</label></td>
            <td class="textEngCtr" colspan="2"></td>
            <td class="textArbRht"><label>نتيجة الاختبار</label></td>
            </tr>
            {{/hasElement }}

         <tr>
            <td class="textEngLft"><label>Sample Date/ Time:</label></td>
            <td class="textEngCtr"><span>{{header.collected_date}}</span></td>
            <td class="textEngCtr"><span>{{header.patient_name}}</span></td>
            <td class="textArbRht"><label>تاريخ / وقت العينة</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Validation Date/ Time:</label></td>
            <td class="textEngCtr"><span>{{header.validated_date}}</span></td>
            <td class="textEngCtr"><span>{{header.patient_name}}</span></td>
            <td class="textArbRht"><label>تاريخ / وقت تصديق</label></td>
         </tr>
         <tr>
            <td class="textEngLft"><label>Test Location/ Facility</label></td>
            <td class="textEngCtr" colspan="2"><span>{{header.institute_name}}</span></td>
            <td class="textArbRht"><label>مركز الفاحص</label></td>
         </tr>
      </table>
   </section>
   <section>

<table>
<tr>
   <td>{{header.legal_name}}</td>
   <td><img style="height: 80px;" src="{{imageSource 'images/PCRSEAL.png'}}" /></td>
   <td></td>
</tr>
<tr>
   <td><p>Scan the QR Code to electronically check the report</p>
   <p>Match sure the data on this report matches the onces in the passport</p></td>
   <td> <img src={{barcode "qrcode" shortUrl false }} /></td>
   <td><p>امسح رمز الاستجابة السريعة ضوئيًا للتحقق من التقرير إلكترونيًا</p>
   <p>تطابق تأكد من أن البيانات الواردة في هذا التقرير تتطابق مع المهام الموجودة في جواز السفر</p></td>
</tr>
</table> 



          <section>
                <div class="" style="width:55%;float:right;text-align:right;">
                <p class="SealHere">
                 <img style="height: 80px;" src="{{imageSource 'images/1_MOH.png'}}" />
   <span>Accredited by Saudi Ministry of Health</span>
                 {{!-- Seal Come Here --}}
                 </p>
               <p>معتمد من قبل</p>
               <p>Authorised by</p>
            </div>
           <div class="" style="width:35%;float:left;text-align:center;">
              <p>Scan QR to Validate</p>
              <p class="QRCodeHere">
                <img src={{barcode "qrcode" shortUrl false }} />

                 {{!-- QR COde Here --}}
                 </p>
              <small>Or go to: {{shortUrl}}</small>
           </div>
        
       </section>
   </section>
   {{!-- 
   <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer>
   --}}
</div>