{{{importStyle 'css/algaehReportStyles.css'}}}

{{#each header}}

<small>{{item_description}}</small>
<small>{{print_barcode}}</small>
<div class="barcodeLine">
  <img src={{barcode "code128" barcode}} />
  <p>SAR:<b>{{sales_price}}</b></p>
</div>
{{/each }}