{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>


  <table class="tableForPharmacy" cell-padding="0">
               <tr><td><labe>Pharmacy:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>:اسم الصيدلية</label></td></tr>
                 <tr><td><labe>Place:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: موقعك</label></td></tr>
                 <tr><td><labe>Patient Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم المريض</label></td></tr>
                 <tr><td><labe>Medcine Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الدواء</label></td></tr>
                 <tr><td><labe>Dosage:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: جرعة</label></td></tr>
                 <tr><td><labe>Exp. Date:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: تاريخ الانتهاء</label></td></tr>
                 <tr><td><labe>Pharmacist Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الصيدلي</label></td></tr>
                  <tr><td><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span></td></tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
                <table class="tableForPharmacy" cell-padding="0">
               <tr><td><labe>Pharmacy:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>:اسم الصيدلية</label></td></tr>
                 <tr><td><labe>Place:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: موقعك</label></td></tr>
                 <tr><td><labe>Patient Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم المريض</label></td></tr>
                 <tr><td><labe>Medcine Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الدواء</label></td></tr>
                 <tr><td><labe>Dosage:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: جرعة</label></td></tr>
                 <tr><td><labe>Exp. Date:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: تاريخ الانتهاء</label></td></tr>
                 <tr><td><labe>Pharmacist Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الصيدلي</label></td></tr>
                  <tr><td><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span></td></tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>  <table class="tableForPharmacy" cell-padding="0">
               <tr><td><labe>Pharmacy:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>:اسم الصيدلية</label></td></tr>
                 <tr><td><labe>Place:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: موقعك</label></td></tr>
                 <tr><td><labe>Patient Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم المريض</label></td></tr>
                 <tr><td><labe>Medcine Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الدواء</label></td></tr>
                 <tr><td><labe>Dosage:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: جرعة</label></td></tr>
                 <tr><td><labe>Exp. Date:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: تاريخ الانتهاء</label></td></tr>
                 <tr><td><labe>Pharmacist Name:</label><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span><label>: اسم الصيدلي</label></td></tr>
                  <tr><td><span>{{header.patient_full_name}}</span></td><td><span>{{header.invoice_date}}</span></td></tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
               
            </table>


        </section>
        
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>
