{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>


  <table class="tableForLabel" cell-padding="0">
                <tr><td><label class="textEnLft">Invoice No</label>:<span class="valueText">{{header.invoice_number}}</span><label class="textArRht">رقم الفاتورة</label></td><td><label class="textEnLft">Invoice Date</label>:<span class="valueText">{{dateTime header.invoice_date "date"}}</span><label class="textArRht">اريخ الفاتورة</label></td></tr>
                 <tr><td><label class="textEnLft">Patient Name</label>:<span class="valueText">{{capitalization header.patient_full_name}}</span><label class="textArRht">اسم المريض</label></td><td><label class="textEnLft">Visit Date</label>:<span class="valueText">{{dateTime header.visit_date "date"}}</span><label class="textArRht">تاريخ الزيارة</label></td></tr>
                <tr><td><label class="textEnLft">MR No</label>:<span class="valueText">{{header.patient_code}}</span><label class="textArRht">رقم التسجيل</label></td><td><label class="textEnLft">Reg. Date</label>:<span class="valueText">{{dateTime header.registration_date "date"}}</span><label class="textArRht">تاريخ التسجيل</label></td></tr>
                 <tr><td><label class="textEnLft">Insurance Co.</label>:<span class="valueText">{{header.insurance_provider_name}}</span><label class="textArRht">شركة التأمين</label></td><td><label class="textEnLft">Age/Gender</label>:<span class="valueText">{{header.age_in_years}}/{{header.gender}}</span><label class="textArRht">العمر / الجنس</label></td></tr>
                  <tr><td><label class="textEnLft">Policy/ Class</label>:<span class="valueText">{{header.card_number}} / {{header.card_holder_name}}</span><label class="textArRht">بوليصة/قاعة</label></td><td><label class="textEnLft">Nationality</label>:<span class="valueText">{{header.nationality}}</span><label class="textArRht">جنسية</label></td></tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
               <tr><td><label class="textEnLft">Doctor</label>:<span class="valueText">{{header.full_name}}</span><label class="textArRht">طبيب</label></td><td><label class="textEnLft">Department</label>:<span class="valueText">{{header.sub_department_name}}</span><label class="textArRht">قسم</label></td></tr>

            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Item Code<p>رمز الصنف</p></th>
                        <th>Item Desc.<p>وصف السلعة</p></th>
                        <th>Qty<p>كمية</p></th>
                        <th>Unit Price<p>المجموع الصافي</p></th>
                        <th>Gross Amount<p>المبلغ الإجمالي</p></th>
                        <th>Discount<p>خصم</p></th>
                        <th>Net Amt. <p>المبلغ الصافي</p></th>
                        <th>Patient Respo.<p>حصة المريض</p></th>
                        <th>Company Respo.<p>حصة المريض</p></th>
                        <th>Vat Amt. <p>قيمة الضريبة</p></th>
                        <th>Net/Claim Amt.<p>صافي / مبلغ المطالبة</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                      <td>{{cpt_code}}</td>
                      <td>{{service_name}}</td>

                      <td>{{quantity}}</td>
                      <td class="numberFld">{{price}}</td>
                      <td class="numberFld">{{gross_amount}}</td>
                      <td class="numberFld">{{discount_amount}}</td>
                      <td class="numberFld">{{net_amount}}</td>
                      <td class="numberFld">{{patient_share}}</td>
                      <td class="numberFld">{{company_resp}}</td>
                      <td class="numberFld">{{company_tax}}</td>
                      <td class="numberFld">{{net_claim}}</td>
                    </tr>
                    {{/each}}
  <tr class="footerTotal">
      <td colspan="2" class="numberFld"><span style="text-align:right">Total</span></td>
                          <td class="numberFld">{{total_quantity}}</td>
                          <td class="numberFld">{{total_price}}</td>
                         <td class="numberFld">{{total_gross_amount}}</td>
                          <td class="numberFld">{{total_discount_amount}}</td>
                          <td class="numberFld">{{total_net_amount}}</td>
                          <td class="numberFld">{{total_patient_share}}</td>
                          <td class="numberFld">{{total_company_resp}}</td>
                          <td class="numberFld">{{total_company_tax}}</td>
                          <td class="numberFld">{{total_net_claim}}</td>
                    </tr>


                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>
