<style type="text/css">
  .reportHeaderCntr1 { width: 100%; margin: 0px 18px 0; font-family: Arial,
  sans-serif; font-weight: normal; overflow: hidden; line-height: 9px;}
  .reportHeaderCntr1 .col-left { float: left; width: 45%; text-align: left;}
  .reportHeaderCntr1 .col-right { float: right; width: 45%; text-align: right;}
  .reportHeaderCntr1 p{ font-size: 7px!important; margin:0;}
</style>

<body>
  <div class="reportHeaderCntr1">
    <div class="col-left">
      <p style="margin-bottom: 2px;"><b>{{organization_name}}</b></p>
      {{!-- <p>{{address1}}</p> --}}
      <p>Tel: <span>{{phone1}}</span></p>
      <p>Vat No: <span>{{tax_number}}</span></p><p>{{address1}}</p>
    </div>
    <div class="col-right">
      <p style="margin-bottom: 2px;"><b>{{legal_name}}</b></p>
      {{!-- <p>{{address2}}</p> --}}
      <p><span style="display: inline-block; text-align:left;">{{phone2}}
          :</span>رقم الهاتف</p>
      <p>رقم الضريبة المضافة: <span>{{tax_number}}</span></p><p>{{address2}}</p>
    </div>

  </div>
</body>