{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">




                  <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">PO Return No.</label>:<span
                            class="valueText">{{purchase_return_number}}</span>
                    </td>
                    <td><label class="textEnLft">PO For</label>:<span
                            class="valueText">{{location_description}}</span></td>

                </tr>
                <tr>
                    <td><label class="textEnLft">PO Return Date</label>:<span class="valueText">{{return_date }}</span>
                    </td>
                    <td><label class="textEnLft">Vendor Name</label>:<span class="valueText">{{vendor_name}}</span></td>
                </tr>
  <tr>
                    <td><label class="textEnLft">Invoice No.</label>:<span class="valueText">{{inovice_number}}</span>
                    </td>
                    <td><label class="textEnLft">Invoice Date</label>:<span class="valueText">{{invoice_date}}</span></td>
                </tr>
            </table>


    

        </section><section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        {{!-- <th>Item Name</th>
                        <th>Item Code</th> --}}
                        <th>Unit</th>
                         <th>Vendor Batch No.</th>
                        <th>Expiry Date</th>
                        <th>Delivered Qty</th>
                        <th>Before Return Qty</th>
                        <th>Return Qty</th>
                        <th>After Return Qty</th>
                        <th>Unit Price</th>
                        <th>Ext. Price</th>
                        <th>Disc. %</th>
                        <th>Disc. Amt</th>
                        <th>Net Ext. Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each detailList}}

                    <tr>
 <td colspan="15"  class="txtFld"><b>{{item_description}} - ({{item_code}})</b></td>
                    </tr>
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td>{{uom_description}}</td>
                        <td>{{vendor_batchno}}</td>
                        <td>{{expiry_date}}</td>
                        <td class="numberFld">{{dn_quantity}}</td>
                        <td class="numberFld">{{qtyhand}}</td>
                        <td class="numberFld">{{return_qty}}</td>
                        <td class="numberFld">{{after_return_qty}}</td>
                        <td class="numberFld">{{unit_cost}}</td>
                        <td class="numberFld">{{extended_cost}}</td>
                        <td class="numberFld">{{discount_percentage}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{net_extended_cost}}</td>
                        <td class="numberFld">{{tax_amount}}</td>
                        <td class="numberFld">{{total_amount}}</td>
                    </tr>
                    {{/each }}
                    <tr class="footerTotalDown">
                        <td colspan="14"  class="numberFld">Total Net Amount</td>
                        <td>{{return_total}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>