{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <section>

                <table class="tableForLabel" cell-padding="0">

                    <tr>
                        <td colspan="2"><label class="textEnLft">Settlement No</label>:<span
                                class="valueText">{{pos_credit_number}}</span>
                        </td>

                    </tr>
                    <tr>
                        <td><label class="textEnLft">Patient Code</label>:<span
                                class="valueText">{{patient_code}}</span>
                        </td>
                        <td><label class="textEnLft">Patient Name</label>:<span class="valueText">{{full_name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="textEnLft">Receipt Number</label>:<span
                                class="valueText">{{receipt_number}}</span>
                        </td>
                        <td><label class="textEnLft">Receipt Date</label>:<span
                                class="valueText">{{pos_credit_date}}</span>
                        </td>
                    </tr>

                </table>


            </section>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>POS Bill No.</th>
                        <th>Bill Amt.</th>
                        <th>Bill Date</th>
                        <th>Credit Amt.</th>
                        <th>Balance Amt.</th>
                        <th>Receipt Amt.</th>
                        <th>Remaining Balance Amt.</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{pos_number}}</td>
                        <td>{{bill_amount}}</td>
                        <td>{{pos_date}}</td>
                        <td>{{credit_amount}}</td>
                        <td>{{previous_balance}}</td>
                        <td>{{receipt_amount}}</td>
                        <td>{{balance_amount}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <table class="tableTotal">
                <tr class="bold">

                    <td>Total Recivevable Amt.</td>
                    <td>{{recievable_amount}}</td>

                </tr>
                <tr>
                    <td>Write off Amt.</td>
                    <td>{{write_off_amount}}</td>
                </tr>
                <tr>
                    <td>By Cash</td>
                    <td>{{total_cash}}</td>
                </tr>
                <tr>
                    <td>By Card</td>
                    <td>{{total_card}}</td>
                </tr>
                <tr>
                    <td>By Cheque</td>
                    <td>{{total_check}}</td>
                </tr>

                <tr class="bold">
                    <td>Total Receipt Amt.</td>
                    <td>{{total_reciept_amount}}</td>
                </tr>



            </table>
        </section>
    </div>
</body>