{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>


  <table class="tableForLabel" cell-padding="0">
               <tr><td><label class="textEnLft">Patient Name</label>:<span class="valueText">{{header.pat_name}}</span><label class="textArRht">اسم المريض</label></td><td><label class="textEnLft">Visit Date</label>:<span class="valueText">{{dateTime header.visit_date "date"}}</span><label class="textArRht">تاريخ الزيارة</label></td></tr>
                <tr><td><label class="textEnLft">MR No</label>:<span class="valueText">{{header.patient_code}}</span><label class="textArRht">رقم التسجيل</label></td><td><label class="textEnLft">Age/Gender</label>:<span class="valueText">{{header.age_in_years}}/{{header.gender}}</span><label class="textArRht">العمر / الجنس</label></td></tr>
                 <tr><td><label class="textEnLft">Mobile No.</label>:<span class="valueText">{{header.contact_number}}</span><label class="textArRht">رقم الموبايل</label></td><td><label class="textEnLft">Nationality</label>:<span class="valueText">{{header.nationality}}</span><label class="textArRht">جنسية</label></td></tr>
                  <tr><td><label class="textEnLft">Insurance Co.</label>:<span class="valueText">{{header.insurance_provider_name}}</span><label class="textArRht">شركة التأمين</label></td><td><label class="textEnLft">Policy/ Class</label>:<span class="valueText">{{header.primary_policy_num}} / {{header.card_class}}</span><label class="textArRht">بوليصة/قاعة</label></td></tr>
                <tr>
                    <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
                </tr>
               <tr><td><label class="textEnLft">Doctor</label>:<span class="valueText">{{header.full_name}}</span><label class="textArRht">طبيب</label></td><td><label class="textEnLft">Department</label>:<span class="valueText">{{header.sub_department_name}}</span><label class="textArRht">قسم</label></td></tr>

            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Generic Name<p>وصف السلعة</p></th>
                        <th>Form<p>كمية</p></th>
                        <th>Dosage<p>المجموع الصافي</p></th>
                        <th>Duration (days)<p>المبلغ الإجمالي</p></th>
                        <th>Instruction<p>خصم</p></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}

                    <tr>
                        <td>{{generic_name}}</td>
                        <td>{{dateTime from_date "date"}}</td>
                        <td class="">{{dosage}}</td>
                        <td class="">{{no_of_days}}</td>
                          <td class="">{{instructions}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </section>
        <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer>
    </div>
</body>
