{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                     <tr>
    <tr>
    <th>Sl No.</th>
                <th>Project Name</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Employee Designation</th>
                <th>Total Worked Hr</th>
                <th>Project Cost</th>
            </tr>
  </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_code}}</td>
                      
                    </tr>
                    {{/each }}
              
                </tbody>
            </table>
            <table class="tableTotal">
                <tr><td>No. of Empoyees</td><td>{{total_gross_amount}}</td><td>الإجمالي قبل الضريبة المضافة</td></tr>
                 <tr><td>Total Worked Hours</td><td>{{total_discount_amount}}</td><td>الخصم</td></tr>
                  <tr class="bold"><td>Project Total Cost</td><td>{{total_net_amount}}</td><td>الصافي بعد الخصم</td></tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>