{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        {{!-- <th>Sl No.</th> --}}
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Basic Hrs</th>
                        <th>Basic Amount</th>
                        <th>OT Hrs (ot / w_ot / h_ot)</th>
                        <th>OT Amount (ot / w_ot / h_ot)</th>
                        <th>Total Hrs</th>
                        <th>Total Amount</th>
                        <th>Project Name</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{employee_code}}</td>
                        <td style="text-align: left;">{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{basic_hours}}</td>
                        <td style="text-align: right;">{{basic_cost}}</td>
                        <td>{{ot_hours}} / {{wot_hours}} / {{hot_hours}}</td>
                        <td style="text-align: right;">{{ot_cost}} / {{wot_cost}} / {{hot_cost}}</td>
                        <td>{{total_hours}}</td>
                        <td style="text-align: right;">{{cost}}</td>
                        <td>{{project_desc}}</td>
                    </tr>
                    {{/each }}


                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>