{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        {{!-- <th>Sl No.</th> --}}
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Basic Hrs</th>
                        <th>Amount</th>
                        <th>OT Hrs</th>
                        <th>OT Amount</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{employee_code}}</td>
                        <td style="text-align: left;">{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{total_working_hours}}</td>
                        <td style="text-align: right;">{{project_cost_amount  }}</td>
                        <td style="text-align: right;">{{ot_work}}</td>
                        <td>{{ot_amount}}</td>
                    </tr>
                     {{/each }}
                    
                   
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>