{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        {{!-- <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">No Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table>


        </section> --}}
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Category</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Tax Percentage</th>
                        <th>Tax Amount</th>
                        <th>Total Cost</th>
                        {{!-- <th>From Location</th>
                        <th>To Location</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#hasElement result}}

                    {{#each result}}
                    <tr>
                        <td colspan="4" class="tableSubHdg txtFld">{{grn_number}} - {{grn_date}}</td>
                        <td colspan="4" class="tableSubHdg numberFld">{{vendor_name}}</td>
                      
                    </tr>
                    {{#each transfer_items}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{category_desc}}</th>
                        <td>{{item_code}}</th>
                        <td class="txtFld">{{item_description}}</th>
                        <td class="numberFld">{{numberFormating net_extended_cost ../../currencyOnly}}</td>
                        <td class="numberFld">{{tax_percentage}}</td>
                        <td class="numberFld">{{numberFormating tax_amount ../../currencyOnly}}</td>
                        <td class="numberFld">{{numberFormating total_amount ../../currencyOnly}}</td>
                        {{!-- <td class="">{{from_location}}</td>
                        <td class="">{{to_location}}</td> --}}
                    </tr>
                    {{/each }}
                    <tr class="tableSubHdg2">
                        <td colspan="4"></td>
                        <td class="numberFld"><b>{{sum_total_net_extended_cost}}</b></td>
                        <td class="numberFld"><b></b></td>
                        <td class="numberFld"><b>{{sum_tax_amount}}</b></td>
                        <td class="numberFld"><b>{{sum_total_amount}}</b></td>
                    </tr>
                    {{/each }}
                    {{else}}
                    <tr>
                        <td colspan="8" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>