<style type="text/css">
    .reportFooterCntr {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;
        overflow: hidden;
        border-top: 0.5rem dotted #ccc;
        text-align: center;
        padding-top: 5px;
        margin: 0;
    }
      .reportFooterCntr p {
        margin: 2px 0;
        padding: 0;
        font-size: 7px;
        line-height: 10px;
    }

    .reportFooterCntr p b {
        font-size: 8px;
    }
</style>

<body>
    <div class="reportFooterCntr">
        <div >
            {{!-- <p><b>{{organization_name}}</b></p> --}}
        <p>{{address1}} ­ C.R: <span>{{business_registration_number}}</span> ­ Tel.:<span>{{phone1}}</span> | <span>{{email}}</span> | <span>{{website}}</span></p>
    </div> </div>
</body>