{{{importStyle 'css/algaehReportStyles.css'}}}
<div class="print-body">
    <section>

        <table class="tableNoBorder" cell-padding="0">

            <tr>
                <td><label>رقم الملف الطبي / Reg. Number</label><p><b>{{firstElement result 0 "patient_code"}}</b></p></td>
                <td><label>اسم المريض / Patient Name</label><p><b>{{firstElement result 0 "patient_full_name"}}</b></p></td>
               <td><label>اسم الطبيب / Doctor</label><p><b>{{firstElement result 0 "refer_by"}}</b></p></td>
            </tr>
        </table>
        <hr/>

     <p style="text-align: center;"><b> {{firstElement result 0 "template_name"}}</b></p>
    </section>
   <section>
  <table class="tableNoBorder" cell-padding="0">
     <tr><td>{{{firstElement result 0 "result_html"}}}</td></tr>
     </table>
   <p> <label> Comments: </label> <span> <strong> {{firstElement result 0 "comments"}} </strong></p>
   </section>

    <table class="tableForLabel" cell-padding="0">

            <tr>
                <td><label>Performed by</label><p><b>{{firstElement result 0 "perform_by"}}</b></p></td>
                <td><label>Report Prepared by</label><p><b>{{firstElement result 0 "scheduled_by"}}</b></p></td>
               <td><label>Reviewed by</label><p><b>{{firstElement result 0 "attended_by"}}</b></p></td>
            </tr>
              <tr>
                <td><label>Signed by</label><p><b>{{firstElement result 0 "validate_by"}}</b></p></td>
                <td><label>Seal</label><p><b></b></p></td>
               <td><label>Date</label><p><b>{{firstElement result 0 "validate_date_time"}}</b></p></td>
            </tr>
        </table>

    {{!-- <label> Comments: </label> <span> <strong> {{firstElement result 0 "comments"}} </strong></span>
    </br></br>
    <footer><label> Validated By: </label> <span> <strong> {{firstElement result 0 "validate_by"}} </strong></span>
    </footer> --}}
</div>