{{{importStyle 'css/algaehReportStyles.css'}}}
<style>
   td,
   span,
   label {
   font-size: 12px;
   }
</style>
<div class="print-body">
   <section>
      <table class="tableForLabel" cell-padding="0">
         <tr>
            <td><label>MRN Number</label></td>
            <td> <span>{{header.patient_code}}</span></td>
            <td><label>Identity No.</label></td>
            <td><span>{{header.primary_id_no}}</span></td>
         </tr>
         <tr>
            <td><label>Patient Name</label></td>
            <td><span>{{header.patient_name}}</span></td>
            <td><label>Company name</label></td>
            <td> <span>{{header.insurance_provider_name}}</span></td>
         </tr>
         <tr>
            <td><label>Age</label></td>
            <td><span>{{header.age_in_years}}Y/ {{header.age_in_months}}M/ {{header.age_in_days}}D</span></td>
            <td><label>Doctor Ordered by</label></td>
            <td> <span>{{header.doctor_name}}</span></td>
            {{!--  {{header.sub_department_name}} --}}
         </tr>
         <tr>
            <td><label>Gender</label></td>
            <td> <span>{{header.gender}}</span></td>
            <td><label>Ordered Date & Time</label></td>
            <td> <span>{{header.ordered_date}}</span></td>
         </tr>
         <tr>
            <td><label>Scheduled Date & Time</label></td>
            <td> <span>{{header.scheduled_date_time}}</span></td>
            <td><label>Arrived Date & Time</label></td>
            <td> <span>{{header.arrived_date}}</span></td>
         </tr>
          <tr>
          
            <td><label>Validated Date & Time</label></td>
            <td colspan="4"> <span>{{header.validate_date_time}}</span></td>
         </tr>
         <tr>
            <td colspan="4" style="background:#f2f2f2;height:0px;"></td>
         </tr>
         <tr>
            <td><label>Test Name</label></td>
            <td colspan="3"> <span>{{header.service_name}} </span></td>
          
         </tr>
      </table>
   </section>
   <section>
              <p style="text-align: center;"><b> {{firstElement result 0 "template_name"}}</b></p>
<div style="border:1px solid rgb(197, 197, 197); padding:15px">{{{firstElement result 0 "result_html"}}} <p> <label> Comments: </label> <span> <strong> {{firstElement result 0 "comments"}} </strong></p></div>
   
   </section>

    <table class="tableNoBorder" cell-padding="0">
            <tr>
                <td><label>Performed by</label><p><b>{{firstElement result 0 "perform_by"}}</b></p></td>
                <td><label>Report Prepared by</label><p><b>{{firstElement result 0 "scheduled_by"}}</b></p></td>
               {{!-- <td><label>Reviewed by</label><p><b>{{firstElement result 0 "attended_by"}}</b></p></td> --}}
                 <td><label>Signed by</label><p><b>{{firstElement result 0 "validate_by"}}</b></p></td>
              
               <td><label>Date</label><p><b>{{firstElement result 0 "validate_date_time"}}</b></p></td>
            </tr>
            
        </table>
      
   </section>
   
</div>

