{{{importStyle 'css/algaehReportStyles.css'}}}
<div class="print-body">
    <section>

        <table class="tableForLabel" cell-padding="0">

            <tr>
                <td style="width:20%"><label>رقم الملف الطبي / Reg. Number</label></td>
                <td> <span>{{firstElement result 0 "patient_code"}}</span></td>
            </tr>
            <tr>
                <td style="width:20%"><label>اسم المريض / Patient Name</label></td>
                <td><span>{{firstElement result 0 "patient_full_name"}}</span></td>

            </tr>
            <tr>
                <td style="width:20%"><label>اسم الطبيب / Doctor</label></td>
                <td> <span>{{firstElement result 0 "ordered_by"}}</span></td>

            </tr>
        </table>
    </section>
    <center> <strong> {{firstElement result 0 "template_name"}} </strong></center>

    {{{firstElement result 0 "result_html"}}}
    </br></br></br>

    <label> Comments: </label> <span> <strong> {{firstElement result 0 "comments"}} </strong></span>
    </br></br>
    <footer><label> Validated By: </label> <span> <strong> {{firstElement result 0 "validate_by"}} </strong></span>
    </footer>
</div>