<style type="text/css">
    .reportHeaderCntr {
        width: 100vw;
        border-bottom: 1px solid #ccc;
        font-size: 9px !important;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hospitalLogo {
        color: #ccc;
        text-align: center;
        width: 100%;
    }

    .hospitalLogo img {
        margin: 0;
        padding: 0;
        border: none;
        height: 30px;
        margin-top: -10px;
    }

    .otherInfo {
        text-align: right;
        font-size: 9px !important;
        width: 100%;
    }

    .hospitalAddress {
        text-align: center;
        width: 100%;
    }

    .hospitalAddress h4 {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }

    .hospitalAddress p {
        margin: 0;
        padding: 0;
        line-height: 15px;
        font-weight: normal;
        font-size: 8px;
    }

    .showFilterValue {
        width: 100%;
        font-size: 9px !important;
    }

    .showFilterValue span {
        font-size: 7px !important;
        font-weight: bold;
        display: inline-block;
        padding: 3px 5px;
        border-left: 1px solid #ccc;
        text-align: left;
    }

    .showFilterValue span:first-child {
        border-left: none;
    }

    .showFilterValue small {
        display: block;
        font-size: 6px !important;
        color: #ccc;
    }
</style>

<body>
    <table class="reportHeaderCntr">
        <tr>
            <th>
                <div class="hospitalLogo"><img src="{{imageSource 'images/clientLogo.png'}}" /></div>
                <div class="hospitalAddress">
                    <h4>{{{report_name_for_header}}}</h4>
                    <p>{{hospital_address}}</p>
                    <p>Date: {{currentDateTime 'date'}}</p>
                </div>
                <div class="showFilterValue">
                    {{#each filter}}
                    <span><small>{{label}}:</small>{{labelValue}} </span>
                    {{/each }}
                </div>
            </th>
        </tr>
    </table>
</body>