<style type="text/css">
    .headerFooterStyle {
        width: 100%;
        float: left;
        text-align: center;
        border-top: 0.5rem dotted #ccc;
        font-size: 8px;
        margin-top: 5px;
    }
</style>

<body>
    <div class="headerFooterStyle">
        <p><span>{{organisation_name}} absccc</span></p>
        <p><span>{{hospital_address}} sfdgds</span> / <span>Tel: {{phone1}} qwrew</span> /
            <span>Fax: {{fax}}</span> / <span>E-Mail: {{email}}</span></p>
    </div>
</body>