{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Quotation No</label>:<span
                            class="valueText">{{quotation_number}}</span>
                    </td>

                </tr>
                <tr>
                    <td><label class="textEnLft">Quotation Date</label>:<span
                            class="valueText">{{quotation_date }}</span>
                    </td>

                    <td><label class="textEnLft">Expected Date</label>:<span class="valueText">{{expected_date }}</span>
                    </td>
                </tr>

            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Name</th>
                        <th>Item Code</th>
                        <th>UOM</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each detailList}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_description}}</td>
                        <td>{{item_code}}</td>
                        <td>{{uom_description}}</td>
                        <td>{{quantity}}</td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>