{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">Department</label>:<span
                            class="valueText">{{sub_department_name}}</span></td>
                    <td><label class="textEnLft">year</label>:<span class="valueText">{{year}}</span></td>
                    <td><label class="textEnLft">month</label>:<span class="valueText">{{month}}</span></td>
                </tr>
            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Nationality</th>
                        <th>Advance Due</th>
                        <th>Loan Due Amt</th>
                        <th>Total Earnings</th>
                        <th>Total Deductions</th>
                    </tr>
                </thead>
                <tbody>


                    {{#hasElement details}}
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{employee_name}}</td>
                        <td>{{nationality}}</td>
                        <td>{{advance_due}}</td>
                        <td>{{loan_due_amount}}</td>
                        <td>{{total_earnings}}</td>
                        <td>{{total_deductions}}</td>
                    </tr>
                    {{/each }}


                    {{else}}
                    <tr>
                        <td colspan="8" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}




                </tbody>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>