{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        {{#hasElement employees}}


        <section>



            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Emp. Code</th>
                        <th>Emp. Name</th>
                        <th>Desgnation</th>
                        <th>Nationality</th>
                        {{!-- <th>Dep.</th> --}}
                        {{!-- <th>Working Days</th> --}}
                        <th>PR Days</th>

                        <th>Total Earnings</th>

                        <th>Total Deduction </th>
                        <th>Net Salary</th>

                        <th>Total Contribution</th>
                        <th>
                            Mode Of Payment
                        </th>
                        <th>
                            Salary Payed Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="numberFld numberFldTotalBottom">
                        <td class="numberFld" colspan="6"></td>
                        <td class="numberFld">{{sum_earnings}}</td>
                        <td class="numberFld">{{sum_deductions}}</td>
                        <td class="numberFld">{{sum_net_salary}}</td>
                        <td class="numberFld">{{sum_contributions}}</td>
                        <td colspan="5"></td>
                    </tr>
                    {{#each employees}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td class="txtFld"><span class="textTruncate" style="width: 200px;">{{full_name}}</span></td>
                        <td class="txtFld"><span class="textTruncate" style="width: 100px;">{{designation}}</span></td>
                        <td>{{nationality}}</td>
                        <td>{{display_present_days}}</td>


                        <td class="numberFld numberFldTotal">{{total_earnings}}</td>





                        <td class="numberFld numberFldTotal">{{total_deductions}}</td>
                        <td class="numberFld numberFldTotal">{{net_salary}}</td>

                        <td class="numberFld numberFldTotal">{{total_contributions}}</td>
                        <td>
                            {{mode_of_payment}}
                        </td>
                        <td>
                            {{salary_paid_date}}
                        </td>
                    </tr>
                    {{/each }}{{else}}
                    <tr>
                        <td class="noResultTextReport">No Records Found</td>
                    </tr>
                </tbody>
            </table>


        </section>

        {{/hasElement }}




        {{!-- <table class="tableTotal">
            <tr>
                <td>
                    Grand Total Earnings
                </td>
                <td>
                    {{sum_earnings}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Total Deduction
                </td>
                <td>
                    {{sum_deductions}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Total Contribution
                </td>
                <td>
                    {{sum_contributions}}
                </td>
            </tr>
            <tr>
                <td>
                    Grand Net Salary
                </td>
                <td>
                    {{sum_net_salary}}
                </td>
            </tr>
        </table> --}}
    </div>

</body>