{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">
        {{#hasElement employees}}

        {{!-- <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">Year</label>:<span class="valueText">{{year}}</span></td>
                    <td><label class="textEnLft">Month</label>:<span class="valueText">{{month}}</span></td>
                    <td><label class="textEnLft">Group</label>:<span class="valueText">{{group_description}}</span></td>
                    <td><label class="textEnLft">Type</label>:<span class="valueText">{{type}}</span></td>
                </tr>
            </table>


        </section> --}}
        <section>



            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Desgnation</th>
                        <th>Nationality</th>
                        {{!-- <th>Dep.</th> --}}
                        {{!-- <th>Working Days</th> --}}
                        <th>Present Days</th>
                        {{#hasElement earning_component}}
                        {{#each earning_component}}
                        <th>{{earning_deduction_description}}</th>
                        {{/each }}
                        {{/hasElement}}
                        <th>Total Earnings</th>
                        {{#hasElement deduction_component}}
                        {{#each deduction_component}}
                        <th>{{earning_deduction_description}}</th>
                        {{/each }}
                        {{/hasElement}}
                        <th>Total Deduction </th>
                        {{#hasElement contributions_component}}
                        {{#each contributions_component}}
                        <th>{{earning_deduction_description}}</th>
                        {{/each }}
                        {{/hasElement}}<th>Net Salary</th>
                        <th>Total Contribution</th>
                        <th>Overtime</th>
                        <th>Employee + Employer</th>
                        <th>Leave Provision</th>
                        <th>Airfrare Amount</th>
                        <th>Gratuity Provision</th>
                        <th>Date of Payment</th>
                        <th>Mode of Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4"></td>
                        <td class="numberFld">All Earnings
                        </td>
                        <td class="numberFld">Total Deduction</td>
                        <td class="numberFld"> Total Net Salary
                        </td>
                        <td class="numberFld">Total Deduction</td>

                        <td class="numberFld">Total Net Salary</td>
                        <td class="numberFld">Total Contribution</td>
                        <td class="numberFld">Total OT</td>
                        <td class="numberFld">Total EMPLOYEE +
                            EMPLOYER</td>
                        <td class="numberFld">Total LEAVE
                            PROVISION</td>
                        <td class="numberFld">Total AIRFRARE
                            AMOUNT</td>
                        <td class="numberFld">Total GRATUITY
                            PROVISION</td>
                        <td></td>
                        <td></td>

                    </tr>
                    {{#each employees}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{designation}}</td>
                        <td>{{nationality}}</td>
                        {{!-- <td>{{sub_department_name}}</td> --}}
                        {{!-- <td>{{total_days}}</td> --}}
                        <td>{{display_present_days}}</td>
                        {{#hasElement ../earning_component}}
                        {{#hasElement employee_earning}}
                        {{#each ../earning_component}}
                        <td class="numberFld"> {{dynamicSalary hims_d_earning_deduction_id ../employee_earning "E"}}
                        </td>
                        {{/each }}
                        {{else}}
                        <td>NA</td>
                        {{/hasElement }}
                        {{/hasElement }}
                        <td class="numberFld">{{total_earnings}}</td>
                        {{#hasElement ../deduction_component}}
                        {{#hasElement employee_deduction}}
                        {{#each ../deduction_component}}
                        <td class="numberFld"> {{dynamicSalary hims_d_earning_deduction_id ../employee_deduction "D"}}
                        </td>
                        {{/each }}
                        {{else}}
                        <td>NA</td>
                        {{/hasElement }}
                        {{/hasElement }}
                        <td class="numberFld">{{total_deductions}}</td>
                        {{#hasElement ../contributions_component}}
                        {{#hasElement employee_contributions}}
                        {{#each ../contributions_component}}
                        <td class="numberFld">
                            {{dynamicSalary hims_d_earning_deduction_id ../employee_contributions "C"}}</td>
                        {{/each }}
                        {{else}}
                        <td>NA</td>
                        {{/hasElement }}
                        {{/hasElement }}

                        <td class="numberFld">{{net_salary}}</td>
                        <td class="numberFld">{{total_contributions}}</td>
                        <td class="numberFld">{{complete_ot}}</td>
                        <td class="numberFld">{{employe_plus_employr}}</td>
                        <td class="numberFld">{{leave_salary}}</td>
                        <td class="numberFld">{{airfare_amount}}</td>
                        <td class="numberFld">{{gratuity_amount}}</td>
                        <td>{{date_payment}}</td>
                        <td>{{mode_payment}}</td>

                    </tr>
                    {{/each }}{{else}}
                    <tr>
                        <td class="noResultTextReport">No Records Found</td>
                    </tr>
                </tbody>
            </table>

        </section>

        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
        {{/hasElement }}
    </div>
</body>