{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body" style="top:30px important; z-index:9; margin-top:35px;; margin-bottom:0px">

        <section>

            <div class="customDvSalesOrder">
                <div>
                    {{!-- <h3>Vendor Details</h3> --}}
                    <p>Quotation No:<span class="valueText">{{sales_quotation_number}}</span></p>
                    <p>Quotation Date:<span class="valueText">{{sales_quotation_date}}</span></p>
                </div>
                <div>
                    {{!-- <h3>Customer Details</h3> --}}
                    <p>Customer Name:<span class="valueText">{{customer_name}}</span></p>
                    <p>Delivery Date:<span class="valueText">{{delivery_date}}</span></p>
                </div>

            </div>
        </section>
        {{#ifCond sales_quotation_items.length '>' 0 }}
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Name</th>
                        <th>UOM</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Ext. Cost</th>
                        <th>Disc. Amt</th>
                        <th>Net Ext. Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each sales_quotation_items}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_description}}</td>
                        <td>{{uom_description}}</td>
                        <td>{{unit_cost}}</td>
                        <td>{{quantity}}</td>
                        <td>{{extended_cost}}</td>
                        <td>{{discount_amount}}</td>
                        <td>{{net_extended_cost}}</td>
                        <td>{{tax_amount}}</td>
                        <td>{{total_amount}}</td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{/ifCond}}

        {{#ifCond sales_quotation_services.length '>' 0 }}
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Name</th>
                        <th>Frequency</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Ext. Cost</th>
                        <th>Disc. Amt</th>
                        <th>Net Ext. Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>
                        <th>Comments</th>

                    </tr>
                </thead>
                <tbody>

                    {{#each sales_quotation_services}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{service_name}}</td>
                        <td>{{service_frequency}}</td>
                        <td class="numberFld">{{unit_cost}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        <td class="numberFld">{{extended_cost}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{net_extended_cost}}</td>
                        <td class="numberFld">{{tax_amount}}</td>
                        <td class="numberFld">{{total_amount}}</td>
                        <td class="">{{comments}}</td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{/ifCond}}
        <section>

            <h4> Terms & Conditions: </h4>
            <ol class="terms_loop"> {{#each comment_list}}
                <li>{{[]}}</li> {{/each}}
            </ol>

        </section>

        <div>
            <div style="float:left">
                <h4> Best Regards: </h4>
                <h4>{{employee_name}}</h4>
                <p> <span>Contact No: {{primary_contact_no}}</span><br />
                    <span>Email: {{work_email}}</span></p>

            </div>



            <div class="footerSeal">
                <img src="{{imageSource 'images/clientSeal.png'}}" /></div>
        </div>


        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>