{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td class="textEngLft" style="width:20%">Invoice No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{invoice_number}}</b></td>
                    <td class="textArbRht" style="width:20%">رقم الفاتورة</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Date</td>
                    <td colspan="2" class="textEngCtr" style="width:50%"><b>{{invoice_date}}</b></td>
                    <td class="textArbRht" style="width:20%">التاريخ</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Customer</td>
                    <td class="textEngLft" style="width:30%"><b>{{customer_name}}</b></td>
                    <td class="textArbRht" style="width:30%"><b>{{arabic_customer_name}}</b></td>
                    <td class="textArbRht" style="width:20%">العميل</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Address</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{address}}</b></td>
                    <td class="textArbRht" style="width:20%">العنوان</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">PO No./Contarct No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{customer_po_no}}</b></td>
                    <td class="textArbRht" style="width:20%">:رقم الطلب</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">VAT No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{vat_number}}</b></td>
                    <td class="textArbRht" style="width:20%">الرقم الضريبي</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Site</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{hospital_name}}</b></td>
                    <td class="textArbRht" style="width:20%">الموقع</td>
                </tr>
                  <tr>
                    <td colspan="4" class="textEngCtr" style="width:100%"><b>{{invoice_status}}</b></td>
                </tr>
            </table>




        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Name/اسم الخدمة</th>
                        <th>Quantity/ الكمية</th>
                        <th>Rate/ سعر الوحدة</th>
                        <th>Vat %/ الضريبة</th>
                        <th>Amount/ الإجمالي</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each detailList}}
                    <tr>
                        {{!-- <td>{{../currency.decimal_places}}</td> --}}
                        <td datatype="string">{{inc @index}}</td>
                        <td  class="txtFld">{{service_name}} - {{comments}} <br /> {{arabic_service_name}} - {{arabic_comments}}</td>

                         <td datatype="string">{{quantity}}</td>
                        <td class="numberFld">
                            {{numberFormating unit_cost ../currency}}
                        </td>
                        <td>{{tax_percentage}}%</td>
                        <td class="numberFld">{{numberFormating total_amount ../currency}}</td>
                        {{!-- <td>{{arabic_service_name}}</td> --}}
                    </tr>
                    {{/each }}</tbody>
            </table>
        </section>

        {{!-- <section>
            <table class="tableForData" cell-padding="0">
               
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:10%">Total Amount Before VAT</td>
                    <td colspan="7" class="textArbRht" style="width:50%">{{amount_before_vat}}</td>
                    <td class="textArbRht" style="width:10%">الإجمالى قبل ضريبة القيمه المضافة</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:10%">Discount</td>
                    <td colspan="7" class="textArbRht" style="width:50%">{{netdiscount_amount}}</td>
                    <td class="textArbRht" style="width:10%">خصم</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">VAT for non-exempt Items</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{total_tax}}</td>
                    <td class="textArbRht" style="width:20%">قيمة الضريبة المضافة </td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Total Including VAT</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{net_payable}}</td>
                    <td class="textArbRht" style="width:20%">الإجمالي بعد ضريبة القيمة المضافة</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Retention Amount</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{retention_amt}}</td>
                    <td class="textArbRht" style="width:20%">مبلغ الاحتفاظ</td>
                </tr>

                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Outstanding Balance</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{outstanding_balance}}</td>
                    <td class="textArbRht" style="width:20%">الرصيد المستحق بالريال السعودي</td>
                </tr>
                </tbody>
            </table>
        </section> --}}
        {{!-- <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td>Narration:<span class="valueText"> {{narration}}</span>
                    </td>
                </tr>
            </table>

        </section> --}}
{{!--       
        <section class="footerInfoSection">
            <p><b>Bank Information</b></p>
            <p>{{organization_name}}</p>
            <p>Bank Name: {{bank_name}}</p>
            <p>IBAN: {{bank_account_no}}</p>
        </section> --}}




        <section>
            <div style="float:left;width:32%;border:1px solid #ccc; margin-top:20px;text-align:center;">
   <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td>Narration:<span class="valueText"> {{narration}}</span>
                    </td>
                </tr>
                <tr>
                    <td>  
                         {{!-- <p><b>Bank Information</b></p> --}}
            <p>{{organization_name}}</p>
            <p>Bank Name: {{bank_name}}</p>
            <p>IBAN: {{bank_account_no}}</p>
                    </td>
                </tr>

            </table>
            </div>
<div style="float:left;margin-top:20px;margin-left:5px;text-align:center;">
  <img 
            style="width:94px;border:1px solid #ccc; padding:10px 10px"
            src={{barcode "qrcode" qrData}}
          />

            </div>
            <table class="tableTotal" style="float:right;width:50%;">
                {{!-- <td colspan="9">Net Total</td>
                    <td class="numberFld">{{net_payable}}</td> --}}
                <tr >
                    <td class="textEngLft">Total Amt. Before VAT</td>
                    <td colspan="7" class="numberFld" >{{numberFormating amount_before_vat currencyheader}}
                    </td>
                    <td class="numberFld">الإجمالى قبل ضريبة القيمه المضافة</td>
                </tr>
                <tr >
                    <td class="textEngLft">Discount</td>
                    <td colspan="7" class="numberFld" >
                        {{numberFormating netdiscount_amount currencyheader}}
                    </td>
                    <td class="numberFld">خصم</td>
                </tr>
                <tr >
                    <td class="textEngLft">VAT for non-exempt Items</td>
                    <td colspan="7" class="numberFld" >{{numberFormating total_tax currencyheader}}
                    </td>
                    <td class="numberFld">قيمة الضريبة المضافة </td>
                </tr>
                <tr >
                    <td class="textEngLft">Total Including VAT</td>
                    <td colspan="7" class="numberFld" >{{numberFormating net_payable currencyheader}}
                    </td>
                    <td class="numberFld">الإجمالي بعد ضريبة القيمة المضافة</td>
                </tr>
                  <tr>
                    <td class="textEngLft">Retention Amount</td>
                    <td colspan="7" class="numberFld">{{numberFormating retention_amt currencyheader}}</td>
                    <td class="textArbRht">مبلغ الاحتفاظ</td>
                </tr>
                <tr >
                    <td class="textEngLft">Outstanding Balance</td>
                    <td colspan="7" class="numberFld" >{{numberFormating outstanding_balance currencyheader}}
                    </td>
                    <td class="textArbRht">الرصيد المستحق بالريال السعودي</td>
                </tr>
                </tbody>
            </table>
        </section>

       
    </div>
</body>