{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        {{!-- <th>patient name.</th> --}}
                        <th>Invoice No.</th>
                        <th>Invoice Date</th>
                        <th>Invoice Amt.</th>
                        <th>patient_payable</th>
                        <th>patient_tax.</th>
                        <th>company_payable</th>
                        <th>company_tax</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        {{!-- <td>{{patient_full_name}}</td> --}}
                        <td>{{pos_number}}</td>
                        <td>{{pos_date}}</td>
                        <td class="numberFld">{{net_amount}}</td>
                        <td class="numberFld">{{patient_payable}}</td>
                        <td class="numberFld">{{patient_tax}}</td>
                        <td class="numberFld">{{company_payable}}</td>
                        <td class="numberFld">{{company_tax}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
            <table class="tableTotal">
                <tr>
                    <td>Total Patient tax</td>
                    <td>{{total_patient_tax}}</td>
                    <td>الإجمالي قبل الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Total patient_payable</td>
                    <td>{{total_patient_payable}}</td>
                    <td>الخصم</td>
                </tr>
                <tr>
                    <td>Total company_tax</td>
                    <td>{{total_company_tax}}</td>
                    <td>نسبة التحمل</td>
                </tr>
                <tr>
                    <td>Total company_payable</td>
                    <td>{{total_company_payable}}</td>
                    <td>المبلغ المدفوع</td>
                </tr>
                <tr>
                    <td>Total Invoive Amt.</td>
                    <td>{{total_net_amount}}</td>
                    <td>المبلغ المتبقي</td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>