{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td>Customer</td>
                    <td><b>{{customer_name}}</b></td>
                    <td>Address</td>
                    <td colspan="3"><b>{{address}}</b></td>
                </tr>
                <tr>
                    <td>Order No</td>
                    <td><b>{{sales_order_number}}</b></td>
                    <td>Order Date</td>
                    <td><b>{{sales_order_date}}</b></td>
                    <td>Sales Person</td>
                    <td><b>{{employee_name}}</b></td>
                </tr>


            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Frequency</th>
                        <th>Ext. Cost</th>
                        <th>Disc. Amt.</th>
                        <th>Net Ext. Cost</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each detailList}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{service_name}}</td>
                        <td class="numberFld">{{unit_cost}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        <td class="numberFld">{{service_frequency}}</td>
                        <td class="numberFld">{{extended_cost}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{net_extended_cost}}</td>
                        <td class="numberFld">{{tax_amount}}</td>
                        <td class="numberFld">{{total_amount}}</td>

                    </tr>
                    {{/each }}

                    <tr class="footerTotalDown">
                        <td colspan="5" class="numberFld">Total</td>
                        <td class="numberFld">{{sub_total}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{net_total}}</td>
                        <td class="numberFld">{{total_tax}}</td>
                        <td class="numberFld">{{net_payable}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td>Narration:<span class="valueText"> {{narration}}</span>
                    </td>
                </tr>
            </table>

        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>