{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">Quotation No</label>:<span
                            class="valueText">{{sales_quotation_number}}</span>
                    </td>
                    <td><label class="textEnLft">Customer Name</label>:<span class="valueText">{{customer_name}}</span>
                    </td>

                </tr>
                <tr>
                    <td><label class="textEnLft">Quotation Date</label>:<span
                            class="valueText">{{sales_quotation_date }}</span>
                    </td>
                    <td><label class="textEnLft">Sales Person</label>:<span class="valueText">{{employee_name}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Validity Date</label>:<span
                            class="valueText">{{quote_validity }}</span>
                    </td>
                    <td><label class="textEnLft">Delivery Date</label>:<span class="valueText">{{delivery_date}}</span>
                    </td>
                </tr>
            </table>


        </section>
        {{#ifCond sales_quotation_items.length '>' 0 }}
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Name</th>
                        <th>UOM</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Ext. Cost</th>
                        <th>Disc. Amt</th>
                        <th>Net Ext. Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each sales_quotation_items}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item_description}}</td>
                        <td>{{uom_description}}</td>
                        <td>{{quantity}}</td>
                        <td>{{unit_cost}}</td>
                        <td>{{extended_cost}}</td>
                        <td>{{discount_amount}}</td>
                        <td>{{net_extended_cost}}</td>
                        <td>{{tax_amount}}</td>
                        <td>{{total_amount}}</td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{/ifCond}}

        {{#ifCond sales_quotation_services.length '>' 0 }}
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Name</th>
                        <th>Frequency</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Ext. Cost</th>
                        <th>Disc. Amt</th>
                        <th>Net Ext. Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each sales_quotation_services}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{service_name}}</td>
                        <td>{{service_frequency}}</td>
                        <td>{{quantity}}</td>
                        <td>{{unit_cost}}</td>
                        <td>{{extended_cost}}</td>
                        <td>{{discount_amount}}</td>
                        <td>{{net_extended_cost}}</td>
                        <td>{{tax_amount}}</td>
                        <td>{{total_amount}}</td>

                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </section>
        {{/ifCond}}
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="">Terms & Conditions</label>:<span class="valueText">{{terms_conditions }}</span>
                    </td>

                </tr>
            </table>
        </section>

        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>