{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th rowspan="2">Sl No.</th>
                        <th rowspan="2">Receipt No</th>
                        <th rowspan="2">Receipt Date</th>
                        <th rowspan="2">Bill No</th>
                        <th rowspan="2">Patient Name</th>
                        <th rowspan="2">MR No.</th>
                        <th rowspan="2">Cashier</th>
                        <th rowspan="2">Collected On</th>
                        <th colspan="4">Receipt Amount</th>
                    </tr>
                    <tr>
                        <th>Cash</th>
                        <th>Card</th>
                        <th>Cheque</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td>{{receipt_number}}</td>
                        <td>{{receipt_date}}</td>
                        <td>{{pos_number}}</td>
                        <td>{{patient_full_name}}</td>
                        <td>{{mrn_no}}</td>
                        <td>{{cashier}}</td>
                        <td>{{collected_time}}</td>
                        <td>{{numberFormating cash ../currencyOnly }}</td>
                        <td>{{numberFormating card ../currencyOnly}}</td>
                        <td>{{numberFormating check ../currencyOnly}}</td>
                        <td>{{numberFormating total_amount ../currencyOnly}}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
            <table class="tableTotal">
                <tr>
                    <td>Total Cash Amount</td>
                    <td>{{numberFormating total_cash currencyOnlyWithSymbol}}</td>
                    <td>الإجمالي قبل الضريبة المضافة</td>
                </tr>
                <tr>
                    <td>Total Card Amount</td>
                    <td>{{numberFormating total_card currencyOnlyWithSymbol}}</td>
                    <td>الخصم</td>
                </tr>
                <tr>
                    <td>Total Cheque Amount</td>
                    <td>{{numberFormating total_check currencyOnlyWithSymbol}}</td>
                    <td>نسبة التحمل</td>
                </tr>
                <tr>
                    <td>Total Net Amount</td>
                    <td>{{numberFormating total_sum currencyOnlyWithSymbol}}</td>
                    <td>المبلغ المدفوع</td>
                </tr>
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>