{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>

            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td class="textEngLft" style="width:20%">Invoice No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{invoice_number}}</b></td>
                    <td class="textArbRht" style="width:20%">رقم الفاتورة</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Date</td>
                    <td colspan="2" class="textEngCtr" style="width:50%"><b>{{invoice_date}}</b></td>
                    <td class="textArbRht" style="width:20%">التاريخ</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Customer</td>
                    <td class="textEngLft" style="width:30%"><b>{{customer_name}}</b></td>
                    <td class="textArbRht" style="width:30%"><b>{{arabic_customer_name}}</b></td>
                    <td class="textArbRht" style="width:20%">العميل</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">Address</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{address}}</b></td>
                    <td class="textArbRht" style="width:20%">العنوان</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">PO No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{customer_po_no}}</b></td>
                    <td class="textArbRht" style="width:20%">:رقم الطلب</td>
                </tr>
                <tr>
                    <td class="textEngLft" style="width:20%">VAT No.</td>
                    <td colspan="2" class="textEngCtr" style="width:60%"><b>{{vat_number}}</b></td>
                    <td class="textArbRht" style="width:20%">الرقم الضريبي</td>
                </tr>


            </table>


            {{!-- <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Order No.</label>:<span class="valueText">{{sales_order_number}}</span>
                    </td>
                    <td><label class="textEnLft">Customer</label>:<span class="valueText">{{customer_name}}</span></td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Bill To</label>:<span class="valueText">{{customer_name}}</span>
                    </td>
                    <td><label class="textEnLft">Customer Address</label>:<span class="valueText">{{address}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Order No</label>:<span class="valueText">{{invoice_number}}</span>
                    </td>
                    <td><label class="textEnLft">Order Date</label>:<span class="valueText">{{invoice_date}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="textEnLft">Delivery Date</label>:<span class="valueText">{{delivery_date }}</span>
                    </td>
                    <td><label class="textEnLft">Sales Person</label>:<span class="valueText">{{employee_name}}</span>
                    </td>
                </tr>

            </table> --}}


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Service Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        {{!-- <th>Frequency</th> --}}
                        <th>Ext. Cost</th>
                        <th>Disc. Amt.</th>
                        <th>Net Ext. Cost</th>
                        <th>Tax Amt.</th>
                        <th>Total Amt. </th>

                    </tr>
                </thead>
                <tbody>

                    {{#each detailList}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{service_name}}</td>
                        <td class="numberFld">{{unit_cost}}</td>
                        <td class="numberFld">{{quantity}}</td>
                        {{!-- <td class="numberFld">{{service_frequency}}</td> --}}
                        <td class="numberFld">{{extended_cost}}</td>
                        <td class="numberFld">{{discount_amount}}</td>
                        <td class="numberFld">{{net_extended_cost}}</td>
                        <td class="numberFld">{{tax_amount}}</td>
                        <td class="numberFld">{{total_amount}}</td>

                    </tr>
                    {{/each }}</tbody>
            </table>
        </section>

        <section>
            <table class="tableForData" cell-padding="0">
                {{!-- <td colspan="9">Net Total</td>
                    <td class="numberFld">{{net_payable}}</td> --}}
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Total Amount Before VAT</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{amount_before_vat}}</td>
                    <td class="textArbRht" style="width:20%">الإجمالى قبل ضريبة القيمه المضافة</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">VAT @ 5%</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{total_tax}}</td>
                    <td class="textArbRht" style="width:20%">قيمة الضريبة المضافة @ 5%</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Total Including VAT</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{net_payable}}</td>
                    <td class="textArbRht" style="width:20%">الإجمالي بعد ضريبة القيمة المضافة</td>
                </tr>
                <tr class="footerTotalDown">
                    <td class="textEngLft" style="width:20%">Outstanding Balance {{SAR}}</td>
                    <td colspan="7" class="textArbRht" style="width:60%">{{net_payable}}</td>
                    <td class="textArbRht" style="width:20%">الرصيد المستحق بالريال السعودي</td>
                </tr>
                </tbody>
            </table>
        </section>
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td>Narration:<span class="valueText"> {{narration}}</span>
                    </td>
                </tr>
            </table>

        </section>
        <section>
            <p>Finance Manager</p>
            <div style="width: 30%; height:50px; border-bottom:1px solid #000"></div>
        </section>
        <section class="footerInfoSection">
            <p><b>Bank Information</b></p>
            <p>{{organization_name}}</p>
            <p>Bank Name: AlFransi Bank</p>
            <p>IBAN: SA56-5500-0000-0982-7860-0165</p>
        </section>
    </div>
</body>