{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Category</th>
                        <th style="width:0px;padding:0;" cell-padding="0"></th>
                        {{#each columns}}
                        <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{category_desc}}</td>
                        <td>{{{dynamic . ../columns}}}</td>
                    </tr>
                    {{/each }}


                </tbody>
                <footer>

                    <tr>
                        <td></td>

                        <td></td>
                        <td>Total In SAR</td>

                        {{#each footer}}

                        <td class="numberFld">{{numberFormating this ../currencyWithoutCurr}}</td>


                        {{/each}}
                    </tr>
                </footer>
            </table>

        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}
    </div>
</body>