{{{importStyle "css/algaehReportStyles.css"}}}

<body>
  <div class="print-body">
    <section>
      <table class="tableForData" cell-padding="0">
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Bill No.</th>
            <th>Bill Date</th>
            <th>Primary ID</th>
            <th>Patient Code</th>
            <th>Patient Name</th>
            <th>Contact No.</th>
            <th>Nationality</th>
          </tr>

        </thead>
        <tbody>

          {{#hasElement result}}

            {{#each result}}
              <tr>
                <td colspan="8" class="tableSubHdg">{{service_name}}</td>

              </tr>
              {{#each patientList}}
                {{#each docs}}
                  <tr>
                    <td>{{inc @index}}</td>
                    <td class="">{{bill_number}}</td>
                    <td class="">{{bill_date}}</td>
                    <td class="">{{primary_id_no}}</td>
                    <td class="">{{patient_code}}</td>
                    <td class="txtFld">{{full_name}}</td>
                    <td>{{contact_no}}</td>
                    <td class="">{{nationality}}</td>

                  </tr>
                {{/each}}

              {{/each}}{{/each}}

          {{else}}
            <tr>
              <td colspan="8" class="noResultTextReport">No Records Found</td>
            </tr>
          {{/hasElement}}
        </tbody>

      </table>

    </section>

  </div>
</body>