{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">
        <section>
            <table class="tableForLabel" cell-padding="0">

                <tr>
                    <td><label class="textEnLft">This is to certify that Mr./Ms.</label>:<span
                            class="valueText">{{header.patient_full_name}}{{header.primary_id_no}}</span></span><label class="textArRht">
                            هذا للاعتقاد بأن السيد / السيدة</label></td>
                </tr>
                <tr>
                    <td>
                        <label class="textEnLft">MR No</label>:
                        <span class="valueText">{{header.patient_code}}</span>
                        <label class="textArRht">رقم هوية المريض</label>
                    </td>
                <tr>
                    <td>
                        <label class="textEnLft">Identification  Number</label>:
                        <span class="valueText">{{header.primary_id_no}}</span>
                        <label class="textArRht">رقم الهوية</label>
                    </td>
                </tr>

            </table>


        </section>
        
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tbody>

                    <tr>
                         <td><label class="">Consult Date and Time</label>:</td>
                        <td><span class="valueTextSick">{{dateTime header.visit_date "date"}}</span></td>
                        <td style="text-align:right"><label class="">استشر التاريخ والوقت</label></td>
                        
                                
                                <td ><label class=""></label></td>
                                <td ><label class="">Fit for duty</label>:</td>
                        <td><span class="valueTextSick">{{header.patient_unfit}}</span></td>
                        <td style="text-align:right"><label class="">يصلح لواجب</label></td>
                    </tr>

                    <tr>
                                
                        <td><label class="">Reported Sick</label>:</td>
                        <td><span class="valueTextSick">{{header.reported_sick}}</span></td>
                        <td style="text-align:right"><label class="">أبلغ عن مرض</label></td>
                                
                                <td ><label class=""></label></td>
                                <td ><label class="">Advice Light Duty</label>:</td>
                        <td><span class="valueTextSick">{{header.advice_light_duty}}</span></td>
                        <td style="text-align:right"><label class="">نصيحة واجب خفيف</label></td>
                    </tr>

                    <tr>
                                
                        <td><label class="">Accompanying Patient</label>:</td>
                        <td><span class="valueTextSick">{{header.accompanying_patient}}</span></td>
                        <td style="text-align:right"><label class="">مرافقة المريض</label></td>
                       
                                
                                <td ><label class=""></label></td>
                                <td ><label class="">The patient needs the employee's care</label>:</td>
                        <td><span class="valueTextSick">{{header.pat_need_emp_care}}</span></td>
                        <td style="text-align:right"><label class="">يحتاج المريض إلى رعاية الموظف</label></td>
                    </tr>
                    </tbody>
                    </table>
        </section>
        <section>
            <table class="tableForLabel" cell-padding="0">
                <tbody>
                    <tr>
                        <td><label class="">No. of Rest Days</label>:</td>
                        <td><span class="valueTextSick">{{header.no_of_days}} days</span></td>
                        <td style="text-align:right"><label class="">عدد أيام الراحة</label></td>
                    </tr>
                    <tr>
                        <td><label class="">Commencing From</label>:
                        </td>
                        <td><span class="valueTextSick">{{header.from_date}}</span>
                        </td>
                        <td style="text-align:right"><label class="">بدءا من</label></td>
                    </tr>
                    <tr>
                        <td><label class="">Diagnosis</label>:</td>
                        <td><span class="valueTextSick">{{header.icd_description}}</span></td>
                        <td style="text-align:right"><label class="">التشخيص</label></td>
                    </tr>
                    <tr>
                        <td><label class="">Chief Complaint</label>:
                        </td>
                        <td><span class="valueTextSick">{{header.comment}}</span>
                        </td>
                        <td style="text-align:right"><label class=""> الشكوى الرئيسية</label></td>
                    </tr>
                    
                    <tr>
                        <td><label class="">Remarks</label>:
                        </td>
                        <td><span class="valueTextSick">{{header.remarks}}</span>
                        </td>
                        <td style="text-align:right"><label class="">ملاحظات</label></td>
                    </tr>

                </tbody>
            </table>
        </section>
        
 <section>
            <table class="tableNoBorder" cell-padding="0">
                <tbody>
                    <tr>
                        <td style="text-align:left;width:25%; vertical-align:top;"><p>Signature:</p></td>
                        <td>
 <table class="tableForLabel" cell-padding="0">
                <tbody>
                    <tr>
                        <td style="text-align:left"><label class="">Doctor Name</label>:</td>
                        <td>{{header.full_name}}</td>
                        <td style="text-align:right"><label class="">اسم الطبيب</label>:</td>
                    </tr>

 <tr>
                        <td style="text-align:left"><label class="">Department</label>:</td>
                        <td>{{header.sub_department_name}}</td>
                        <td style="text-align:right"><label class="">قسم</label>:</td>
                    </tr>
                     <tr>
                        <td style="text-align:left"><label class="">Registration No.</label>:</td>
                        <td>{{header.license_number}}</td>
                        <td style="text-align:right"><label class="">رقم التسجيل.</label>:</td>
                    </tr>
                     <tr>
                        <td style="text-align:left"><label class="">Date of Issue</label>:</td>
                        <td>{{header.from_date}}</td>
                        <td style="text-align:right"><label class="">تاريخ المسألة</label>:</td>
                    </tr>
                </tbody>
            </table>

                        </td>
                        <td style="text-align:right;width:25%;"><img style="width:100px;height:auto;" src="{{imageSource 'images/clientSeal.png'}}" /></td>
                    </tr>

                </tbody>
            </table>
        </section>
        
    </div>
    
</body>