{{{importStyle "css/algaehReportStyles.css"}}}
<style>
  .texttruncate{ text-overflow: ellipsis; overflow: hidden;white-space: nowrap;
  } @page { margin: 0; size: landscape; } .sheet { margin: 0; overflow: hidden;
  position: relative; box-sizing: border-box; page-break-after: always; }
  img.specimenBarcode { height:18px; margin-bottom: 3px;}
</style>
<body style="width: 100%;">
  {{#each header}}<div class="print-body" style="page-break-before: always; page-break-after: always;margin: 0;">
    <div class="barcodeLine" style="">
      <small
        class="small-left texttruncate"
        style="width:
            48%; font-size:8.5px; margin-top: 2px; text-align:left;"
      >Lab ID:
        <b>{{lab_id_number}}</b></small>
      <small class="small-right" style="margin-top: 4px;"><b
        >{{barcode_gen}}</b></small>
      <img
        class="specimenBarcode"
        src={{barcode "code128" lab_id_number false}}
      />
      <small
        class="small-center texttruncate"
        style="width:
            98%; font-size:8.5px;"
      ><b>{{full_name}}</b></small>
      <small class="small-left"><b>{{patient_code}}</b></small>
      <small class="small-right"><b>{{date_of_birth}}
          /
          {{gender}}</b></small>
      <small class="small-center"><b></b></small>
      <small
        class="small-left texttruncate"
        style="width:
            77%; line-height:12px;text-align:left;"
      ><b>{{description}}</b></small>
      {{!-- <small
        class="small-right"
        style="border-radius:2px;padding:1px 3px;border: 1px dashed {{color_code}}"
      ><b>{{color_name}}</b></small> --}}

      {{#ifExist color_name}}
        <small
          class="small-right"
          style="border-radius:2px;padding:1px 3px;border: 1px dashed {{color_code}}"
        ><b>{{color_name}}</b></small>
      {{/ifExist}}

      {{!-- <small class="small-center"><b>{{lab_id_number}}</b></small> --}}
    </div>
     {{/each }}
  </div>
</body>