{{{importStyle 'css/algaehReportStyles.css'}}}

<body style="width: 100%;">
  <div class="print-body" style="page-break-before: always; page-break-after: always;margin: 0;">
    <div class="barcodeLine">
      {{!-- <small class="small-top-left">{{header.lab_id_number}}</small> --}}
       <small class="small-left"><b>{{header.full_name}}</b></small>
       <small class="small-right"><b>{{header.patient_code}}</b></small>
      {{!-- <small class="small-right">{{header.description}}</div> --}}
      <img class="specimenBarcode" src={{barcode "code128" header.lab_id_number false }} />
      <small class="small-left"><b>{{header.barcode_gen}}</b></small>
      <small class="small-right">{{header.date_of_birth}} /
        {{header.gender}}</small>
    </div>
  </div>
</body>