{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Total Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Emp. Group</th>
                        <th>Gender</th>
                        <th>Designation</th>
                        <th>Date of Joining</th>
                        <th>Nationality</th>
                        <th excelwidth="10">Religion</th>
                        <th>Emp. Type</th>
                        <th>Emp. Status</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td colspan="10"></td>
                        <td colspan="1"><span class="textFloatRight">Total No.
                                Employees: <b>{{no_employees}}</b></span></td>

                    </tr>
                    {{#hasElement result}}

                    {{#each result}}
                    <tr>
                        <td colspan="10" class="tableSubHdg">Dept. Name: {{department_name}}

                        </td>
                        <td colspan="1" class="tableSubHdg"><span class="textFloatRight">No
                                Employees: <b>{{dep_no_employee}}</b></span></td>
                    </tr>
                    {{#each sub_dept}}
                    <tr>
                        <td colspan="10" class="tableSubHdg2">Sub Dept. Name: {{sub_department_name}}</td>
                        <td colspan="1" class="tableSubHdg2"><span class="textFloatRight">No
                                Employees: <b>{{sub_no_employee}}</b></span></td>
                    </tr>
                    {{#each employees}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td style="text-align: left;">{{full_name}}</td>
                        <td>{{group_description}}</td>
                        <td>{{sex}}</td>
                        <td>{{designation}}</td>
                        <td>{{date_of_joining}}</td>
                        <td>{{nationality}}</td>
                        <td>{{religion_name}}</td>
                        <td>{{employee_type}}</td>
                        <td>{{employee_status}}</td>
                    </tr>
                    {{/each }}{{/each }}{{/each }}
                    {{else}}
                    <tr>
                        <td colspan="11" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>