{{{importStyle 'css/creditinvoice.css'}}}

<body>
    <div class="print-body">

        <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span><label
                            class="textArRht">لشركة</label></td>
                </tr>
            </table>


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Gender</th>
                        <th>Designation</th>
                        <th>Date of Joining</th>
                        <th>Nationality</th>
                        <th>Religion</th>
                        <th>Emp. Type</th>
                        <th>Emp. Status</th>

                    </tr>
                </thead>
                <tbody>{{#each result}}
                    <tr>
                        <td colspan="10" class="tableSubHdg">Department Name:{{department_name}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="tableSubHdg2">Sub Department Name:{{sub_department_name}}</td>
                    </tr>
                    {{#each details}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{employee_code}}</td>
                        <td>{{full_name}}</td>
                        <td>{{sex}}</td>
                        <th>{{designation}}</th>
                        <th>{{date_of_joining}}</th>
                        <th>{{nationality}}</th>
                        <th>{{religion_name}}</th>
                        <th>{{employee_type}}</th>
                        <th>{{asemployee_status}}</th>
                    </tr>
                    {{/each }}{{/each }}

                </tbody>
                {{!-- {{else}}
                <tbody>
                    <tr>
                        <td colspan="10" class="noResultTextReport">No Records Found</td>
                    </tr>
                </tbody> --}}
            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>