{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        <section>
            {{!-- <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Total Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table> --}}


        </section>
        <section>
            <table class="tableForData" cell-padding="0">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Sales UOM</th> 
                        <th>Item Category</th> 
                        <th>On-Hand</th>
                        <th>Weighted Avg. Cost</th>
                        <th>Stock Value</th>
                    </tr>

                </thead>
                <tbody>
                    {{!-- <tr>
                        <td colspan="10"></td>
                        <td colspan="1"><span class="textFloatRight">Total No.
                                Employees: <b>{{no_employees}}</b></span></td>

                    </tr> --}}
                    {{#hasElement result}}

   <tr class="numberFldTotal">
                        <td colspan="7"></td>
                        <td class="numberFld">{{numberFormating net_stock_value currencyOnly }}</td>
                    </tr>
                    {{#each result}}
                    {{!-- <tr>
                        <td colspan="6" class="tableSubHdg">{{category_desc}}</td>
                        <td class="tableSubHdg2 numberFld"><b>{{dep_total}}</b></td>

                    </tr> --}}
                    {{#each cateList}}
                    <tr>
                        <td colspan="7" class="tableSubHdg">{{category_desc}}
                        </td>
                        <td class="tableSubHdg numberFld"><b>{{numberFormating total_stock_value ../../currencyOnly}}</b></td>
                    </tr>
                    {{#each docs}}
                    <tr>
                        <td datatype="string">{{inc @index}}</td>
                        <td>{{item_code}}</td>
                        <td excelborder='{"top":{"style":"thin","color":{"argb":"dddddd"}},"left":{"style":"thin","color":{"argb":"dddddd"}},"bottom":{"style":"thin","color":{"argb":"dddddd"}},"right":{"style":"thin","color":{"argb":"dddddd"}}}'
                            class="txtFld">{{item_description}}</td>
                        <td>{{uom_description}}</td> 
                        <td>{{category_desc}}</td> 
                        <td  class="numberFld">{{qty_hand}}</td> 
                        <td class="numberFld">{{numberFormating weighted_cost ../../../currencyOnlyWithoutSymbol}}</td>
                        <td class="numberFld">{{numberFormating stock_value ../../../currencyOnlyWithoutSymbol}}</td>
                    </tr>
                    {{/each }}
                      <tr class="numberFldTotalBottom">
                        <td colspan="7"></td>
                        <td class="numberFld">{{numberFormating total_stock_value ../../currencyOnly}}</td>
                    </tr>
                    {{/each }}{{/each }}
                      <tr class="numberFldTotal">
                        <td colspan="7"></td>
                        <td class="numberFld">{{numberFormating net_stock_value currencyOnly }}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="6" class="noResultTextReport">No Records Found</td>
                    </tr>{{/hasElement }}
                </tbody>

            </table>
          
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>