{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
<div class="print-body">
    <section>
        <table class="tableForData" cell-padding="0">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Code</th>
                    <th>SUPPLIER / COMPANY</th>
                    <th>CONTACT NUMBER</th>
                    <th>ACCOUNT NUMBER</th>
                    <th>BALANCE</th>
                </tr>
            </thead>
            <tbody>
                {{#each detail}}
                <tr>
                    <td datatype="string">{{inc @index}}</td>
                    <td class="txtFld" datatype="string">{{ledger_code}}</td>
                    <td class="txtFld" datatype="string">{{child_name}}</td>
                    <td class="" datatype="string">{{contact_number}}</td>
                    <td class="" datatype="string">{{bank_account_no}}</td>
                    <td class="numberFld">{{numberFormating balance_amount ../currencyOnly}}</td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </section>
</div>
</body>