
{{{importStyle 'css/ucaf.css'}}}
<body class="print-body">
    <h1 style="text-align: center;font-size:30px; margin-bottom:5px;"><b>UCAF 2.0</b></h1>
    <section class="outerCntr">
        <section class="topSection">
            <section class="borderBox topSectionLeft">
                <h4>To be completed & ID verifed by the reception/nurse:</h4>
                <table>
                  <tbody>
                    <tr>
                        <td  width="175px">Provider Name</td>
                        <td>: {{header.hospital_name}}</td>
                    </tr>
                      <tr>
                        <td>Insurance Company Name</td>
                        <td>: {{insurance.0.primary_insurance_company_name}}</td>
                    </tr>
                      <tr>
                        <td>TPA Company Name</td>
                        <td>: {{insurance.0.primary_tpa_insurance_company_name}}</td>
                    </tr>
                      <tr>
                        <td>Patient File Number</td>
                        <td>: {{header.patient_code}}</td>
                    </tr>
                      <tr>
                        <td>Department</td>
                        <td>: {{header.sub_department_name}}</td>
                    </tr>
                      <tr>
                        <td>Date of visit</td>
                        <td>: {{header.visit_date}}</td>
                    </tr>
                      <tr>
                        <td colspan="2">
                        <span>
                            Single ({{#if header.patient_marital_status "Single"}}<span>&#10004;</span>{{/if}})
                        </span> | 
                        <span>
                            Married ({{#if header.patient_marital_status "Married"}}<span>&#10004;</span>{{/if}})
                        </span> | 
                        <span>
                            Plan Type ({{#if header.patient_marital_status "Plan Type"}}<span>&#10004;</span>{{/if}})
                        </span>
                        </td>
                    </tr>
                      <tr>
                        <td colspan="2">
                        <span>
                            New Visit ({{#if header.new_visit_patient "Y"}}<span>&#10004;</span>{{/if}})
                        </span> | 
                        <span>
                            Follow Up ({{#if header.new_visit_patient "N"}}<span>&#10004;</span>{{/if}})
                        </span>
                          <span>
                            Refill ({{#if header.patient_refill "Y"}}<span>&#10004;</span>{{/if}})
                        </span>
                          <span>
                            Walk-In ({{#if header.patient_walkin "Y"}}<span>&#10004;</span>{{/if}})
                        </span>
                          <span>
                            Referral({{#if header.patient_referal "Y"}}<span>&#10004;</span>{{/if}})
                        </span>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </section>
            <section class="borderBox topSectionRight">
                <h4>Print/fll in clear letters or emboss card:</h4>
                <table>
                  <tbody>
                    <tr>
                        <td width="100%">
                            <p class="insImg" style="height: 118px;" ><img src={{ imageUrl insurance 0 "primary_card_number" "_front" "Patients" reqHeader }} alt="Insurance ID Card"/></p>
                        </td>
                    </tr>
                  </tbody>
                </table>
        </section>
        </section>
          <section class="secondSection">
            <section class="borderBox secondSectionInner">
               
            <h4>To be completed by the Attending Physician: Please Tick (✔):</h4>
            <section>
            <table>
                <tbody>

                    <tr>
                    <td colspan="2">
                        <span>Inpatient ( {{#if header.case_type "IP"}}
                                        <span>&#10004;</span>
                                        {{/if}}
                                        )</span> | 
                        <span>Outpatient ( {{#if header.case_type "OP"}}
                                        <span>&#10004;</span>
                                        {{/if}}
                                        )</span> | 
                        <span style="border-radius: 10px; border:1px solid #000;display:inline-block; text-align:right; float:right; padding:0 5px;">
                            <span>Emergency Case ( {{#if header.patient_emergency_case null}}<span></span>
                                        {{else}}
                                        <span>&#10004;</span>
                                        {{/if}}
                                        )</span> | Emergency Care Level 1({{#if header.patient_emergency_case "L1"}}
                                        <span>&#10004;</span>
                                        {{/if}}
                                        )         |            2( {{#if header.patient_emergency_case "L2"}}
                                        <span>&#10004;</span>
                                        {{/if}} )         |            3({{#if header.patient_emergency_case "L3"}}
                                        <span>&#10004;</span>
                                        {{/if}} )</span>
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2">
                        <span>BP:<b>{{header.patient_bp_sys}}</b>/<b>{{header.patient_bp_dia}}</b></span> | 
                        <span>Pulse: <b>{{header.patient_pulse}}</b> bpm</span> | 
                        <span>Temp: <b>{{header.patient_temp}}</b> °C</span> | 
                        <span>Weight: <b>{{header.patient_temp}}</b> Kg</span> | 
                        <span>Height: <b>{{header.patient_temp}}</b> cm</span> | 
                        <span>RR: <b>{{header.patient_temp}}</b></span> | 
                    </td>
                    </tr>
                    
                    <tr>
                        <td width="175px">Duration of Illness</td>
                        <td>: {{header.patient_duration_of_illness}} (Days)</td>
                    </tr>
                     <tr>
                        <td>Chief Complaint & Main Symptoms</td>
                        <td>: {{header.patient_chief_comp_main_symptoms}}</td>
                    </tr>
                     <tr>
                        <td>Signifcant Signs</td>
                        <td>: {{header.patient_significant_signs}}</td>
                    </tr>

                     <tr>
                        <td>Other Conditions</td>
                        <td>: {{header.patient_other_conditions}}</td>
                    </tr>
                     <tr>
                        <td>Diagnoses (ICD10)</td>
                        <td>: {{header.patient_diagnosys}}</td>
                    </tr>
                     <tr>
                        <td colspan="2">
                            <span>Principal Code: <b>{{header.patient_principal_code_1}}</b></span>  |  
                            <span>2nd Code: <b>{{header.patient_principal_code_2}}</b></span>  |  
                            <span>3rd Code: <b>{{header.patient_principal_code_3}}</b></span>  |  
                            <span>4th Code: <b>{{header.patient_principal_code_4}}</b></span>  |  
                        <td>
                    </tr>
                </tbody>
            </table>
            <hr/>
            <h4>Please tick (&#10004;) where appropriate:</h4>
            <table style="margin:0">
                <tbody>
                    <tr>
                        <td colspan="2">
                        <span>Chronic ({{#if header.patient_complaint_type "CHRONIC"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Congenital ({{#if header.patient_complaint_type "CONGENTIAL"}}<span>&#10004;</span>{{/if}})</span>
                        <span>RTA ( {{#if header.patient_complaint_type "RTA"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Work Related ({{#if header.patient_complaint_type "WORKRELATED"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Vaccination ({{#if header.patient_complaint_type "VACCINATION"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Check-Up ({{#if header.patient_complaint_type "CHECKUP"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Psychiatric ({{#if header.patient_complaint_type "PSYCHIATRIC"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Infertility ({{#if header.patient_complaint_type "INFERTILITY"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Pregnancy ({{#if header.patient_complaint_type "PREGNANCY"}}<span>&#10004;</span>{{/if}})</span>
                        <span>Indicate LMP <span><b>{{header.patient_indicated_LMP}}</b></span></span>  
                        </td>
                    </tr>          
                </tbody>
            </table>
            </section>
            <section class=" secondSectionBottom">
                 <p style="line-height: 10px;">Suggestive line (s) of management: Kindly, enumerate the recommended  or procedures <b>For outpatient approval only:</b></p>
                <table class="tableBrdr">
                    <thead>
                        <tr>
                            <th><b>Code</b></th>
                            <th><b>Description/Service</b></th>
                            <th><b>Type</b></th>
                            <th><b>Quantity</b></th>
                            <th><b>Cost</b></th>
                        </tr>
                    </thead>
                     <tbody>
                    {{#each services }}
                        <tr>
                            <td style="width: 100px;">{{service_code}}</td>
                            <td class="txtFld">{{service_name}}</td>
                            <td style="width: 100px;">{{service_type}}</td>
                            <td class="numberFld"  style="width: 80px;">{{service_quantity}}</td>
                            <td class="numberFld" style="width: 80px;">{{service_net_amout}}</td>
                        </tr>
                    {{/each}}
                     <tr>
                            <td colspan="4" class="numberFld"><b>Total</b></td>
                            <td class="numberFld numberFldTotal" style="width: 80px;">{{numberFormating sum_service_net_amout currencyOnly}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
              <section class=" secondSectionBottom">
                <p style="line-height: 10px; page-break-after: auto;">Providers Approval/Coding Staff must review/code the recommended service(s) and allocate cost and complete the following:</p>
                <p style="margin-top:5px">
                    <span>Completed/Coded By: <span>.......................................................................................</span></span>
                    <span>Signature: <span>.........................................................</span></span>
                    <span>Date: <span>......./......./.......</span></span>
                </p>
                <table class="tableBrdr">
                    <thead>
                        <tr>
                            <th><b>Medication Name (Generic Name)</b></th>
                            <th><b>Type</b></th>
                            <th><b>Quantity</b></th>
                        </tr>
                    </thead>
                     <tbody>
                    {{#each medication }}
                        <tr>
                            <td class="txtFld" >{{generic_name}}</td>
                            <td style="width: 100px;">{{type}}</td>
                            <td style="width: 80px;">{{quantity}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                  <p style="margin-top:5px">
                    <span>In Case management form (CMF 1.0): <b>Yes (......)</b>    <b>No (......)</b></span>
                    {{!-- {{updated_date}} --}}
                </p>

                 <p >
                    <span>Please specify possible line of management when applicable: ..................................................................................................................................................................</span>
                    {{!-- {{updated_date}} --}}
                </p>

   <p style="width: 100%;"><span><b>Estimated length of stay:</b> <span>...................</span>days                                          </span>

                    <span style="text-align: right;float:right;">Expected date of admission: <span>........../........../..........</span></span></p>
            </section>
            </section>
    </section>

        <section class="borderBox footerSection">
         <section class="footerSectionLeft">
             <p style="line-height: 12px;">I hereby certify that All information mentioned are correct and that the medical services shown on this form were medically indicated and necessary for the management of this case.</p>
           <p style="margin-top:10px; text-align:center;">
                    <span style="width: 80px;display:inline-block;">Physician</span>
                    <span style="width: 80px;display:inline-block;">Signature</span>
                    <span style="width: 80px;display:inline-block;">Stamp</span>
                    <span style="width: 80px;display:inline-block;">Date</span>
            </p>
            <p style="margin-top:10px; text-align:center;">
                    <span style="width: 80px;display:inline-block;">{{header.provider_name}}</span>
                    <span style="width: 80px;display:inline-block;">.........</span>
                    <span style="width: 80px;display:inline-block;">.........</span>
                    <span style="width: 80px;display:inline-block;">..../..../....</span>
            </p>
         </section>
         <section class="footerSectionRight">
               <p style="line-height: 12px;">I hereby certify that All statements and information provided
concerning patient identifcation and the present illness or injury
are TRUE.</p>
           <p style="margin-top:10px; text-align:center;">
                    <span >Name and relationship (if guardian): </span>
                   <span>................................................</span>
            </p>
            <p style="margin-top:10px; text-align:center;">
                    <span>Signature: <span>.....................................................</span></span>

                    <span>Date: <span>......./......./.......</span></span>
            </p>
         </section>
        </section>
    </section>
</body>